/* Write your custom CSS here */

/* Added by Ethan.Chen, 20150618 Start.  重寫原型字體 */
body {
    font-family: 'Open Sans', sans-serif,Arial,'Microsoft YaHei',SimSun,SimHei;
}
/* Added by Ethan.Chen, 20150618 End.  重寫原型字體 */

#main-wrapper {
    margin: 0 1px 0 1px;
}

.iframetab {
    width: 100%;
    height: 770px;
    padding: 0px;
}

.panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.span-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.panel-heading {
    margin-bottom: 10px;
}

.size-group {
    height: 35px;
}

.Sign {
    width: 340px;
}

    .Sign li {
        list-style: none; /* 将默认的列表符号去掉 */
        float: left; /* 往左浮动 */
        width: auto;
        text-align: left;
        margin-right: 20px;
    }

#sectionList ul li {
    list-style: none; /* 将默认的列表符号去掉 */
    float: left; /* 往左浮动 */
    width: auto;
    text-align: left;
    margin-right: 20px;
}

.modlist {
    width: 1100px;
    height: 650px;
    z-index: 100;
}

.fa-hidden {
    display: none;
}

.fa, i {
    cursor: pointer;
}

    .fa i:hover {
        color: #000;
    }

/*寬*/
.w-auto {
    width: auto !important;
}

.w100p {
    width: 100% !important;
}

.w95p {
    width: 95% !important;
}

.w90p {
    width: 90% !important;
}

.w85p {
    width: 85% !important;
}

.w67p {
    width: 67% !important;
}

.w80p {
    width: 80% !important;
}

.w75p {
    width: 75% !important;
}

.w70p {
    width: 70% !important;
}

.w65p {
    width: 65% !important;
}

.w60p {
    width: 60% !important;
}

.w58p {
    width: 58% !important;
}

.w57p {
    width: 57% !important;
}

.w56p {
    width: 56% !important;
}

.w55p {
    width: 55% !important;
}

.w50p {
    width: 50% !important;
}

.w49p {
    width: 49% !important;
}

.w48p {
    width: 48% !important;
}

.w47p {
    width: 47% !important;
}

.w46p {
    width: 46% !important;
}

.w45p {
    width: 45% !important;
}

.w44p {
    width: 44% !important;
}

.w43p {
    width: 43% !important;
}

.w42p {
    width: 42% !important;
}

.w41p {
    width: 41% !important;
}

.w40p {
    width: 40% !important;
}

.w39p {
    width: 39% !important;
}

.w38p {
    width: 38% !important;
}

.w37p {
    width: 37% !important;
}

.w36p {
    width: 36% !important;
}

.w35p {
    width: 35% !important;
}

.w34p {
    width: 34% !important;
}

.w33p {
    width: 33% !important;
}

.w32p {
    width: 32% !important;
}

.w31p {
    width: 31% !important;
}

.w30p {
    width: 30% !important;
}

.w29p {
    width: 29% !important;
}

.w28p {
    width: 28% !important;
}

.w27p {
    width: 27% !important;
}

.w26p {
    width: 26% !important;
}

.w25p {
    width: 25% !important;
}

.w24p {
    width: 24% !important;
}

.w23p {
    width: 23% !important;
}

.w22p {
    width: 22% !important;
}

.w21p {
    width: 21% !important;
}

.w20p {
    width: 20% !important;
}

.w19p {
    width: 19% !important;
}

.w18p {
    width: 18% !important;
}

.w17p {
    width: 17% !important;
}

.w16p {
    width: 16% !important;
}

.w15p {
    width: 15% !important;
}

.w14p {
    width: 14% !important;
}

.w13p {
    width: 13% !important;
}

.w12p {
    width: 12% !important;
}

.w11p {
    width: 11% !important;
}

.w10p {
    width: 10% !important;
}

.w9p {
    width: 9% !important;
}

.w8p {
    width: 8% !important;
}

.w7p {
    width: 7% !important;
}

.w6p {
    width: 6% !important;
}

.w5p {
    width: 5% !important;
}

.w4p {
    width: 4% !important;
}

.w3p {
    width: 3% !important;
}

.w2p {
    width: 2% !important;
}

.w1p {
    width: 1% !important;
}

.w70 {
    width: 70px;
}

.wleft {
    text-align: left;
}

.wright {
    text-align: right;
}

.wcenter {
    text-align: center;
}

.nfloat {
    float: none !important;
}

.displayNone {
    display: none;
}

.qryspan {
    width: 10%;
}

.qryinput {
    width: 21%;
}

.span-text {
    margin-top: 6px;
    display: inline-block;
}

.table-title {
    background-color: #dce1e4;
}

.toolbarw {
    float: left;
    width: 40%;
}
/*checkbox*/
/*勾選框*/
table.dataTable input[type="checkbox"] {
    display: none;
    /*position:fixed; left:100%; top:0;*/
    /*position:relative ; left:60px; top:3px; z-index: -10;display:none;*/
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background: url(../img/check_radio_sheet01.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"] + label.AuthIsCheck span {
    background: url(../img/check_radio_sheet02.png) top no-repeat;
}

input[type="checkbox"] + label.AuthIsCheckFix span {
    background: url(../img/check_radio_sheet03.png) top no-repeat;
}

#sectionMenu ul li.menu-layer-one {
    font-size: 24px;
    color: #818181;
}

#sectionMenu ul li.menu-layer-two {
}

#sectionMenu ul li {
    list-style-type: none;
}

    #sectionMenu ul li a:hover {
        font-size: 13px;
        background: rgba(238,118,36,0.95);
    }

    #sectionMenu ul li .onpage {
    }

#sectionList {
    float: left;
    width: 77%;
    padding: 0 0 0 0;
}

    #sectionList ul {
        list-style-type: none;
    }

        #sectionList ul .map-menu-list {
            padding: 0 0 10px 0;
        }

    #sectionList .layer-one > a {
        color: #818181;
        font-weight: bold;
        cursor: auto;
    }

    #sectionList .layer-two ul {
        padding-left: 30px;
    }

    #sectionList .layer-two {
        border-right: solid 1px #4d98df;
        padding: 3px 10px;
        margin: 0px 0px;
    }

        #sectionList .layer-two:last-child {
            border-right: none;
        }

        #sectionList .layer-two a {
            color: #4d98df;
        }

    #sectionList .layer-three a {
        color: #22bb7c;
        font-size: 14px;
    }

    #sectionList .layer-four a {
        color: #f60b0b;
        font-size: 15px;
    }

.layer-one ul li {
    float: left;
    padding: 5px 5px 5px 5px;
}

    .layer-one ul li a {
    }

.clear {
    clear: both;
}

/**/
.noborder {
    border: none !important;
}
/*沒有線*/
/*左右異動頁簽樣式*/
.btnPrev {
    margin: 12px 15px 12px 25px;
}

.btnNext {
    margin: 12px 15px 12px 25px;
}

/*pagebar*/
/*分頁樣式*/
.pagebar {
    width: 95%;
    margin: 10px auto 20px;
}

    .pagebar .page {
    }

    .pagebar p {
        line-height: 35px;
        margin-right: 15px;
    }

    .pagebar a {
        width: 23px;
        height: 23px;
        background: #FFF;
        display: block;
        margin: 5px;
        float: left;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #666;
        text-decoration: none;
        text-align: center;
        line-height: 23px;
        font-weight: bold;
        color: #666;
    }

    .pagebar i {
        color: #666;
        position: relative;
        _position: relative;
        *position: relative;
        top: -5px;
        left: -1px;
        width: 23px;
        height: 23px;
        display: block;
    }

        .pagebar i:hover {
            color: #fff;
        }

.search-page {
    float: right;
}

.pagebar input[type="text"] {
    height: 25px;
    border: 1px solid #666;
    margin-top: 5px;
    width: 60px;
}

    .pagebar input[type="text"]:hover {
        border: 1px solid #2677AD;
    }

.pagebar input[type="button"], .pagebar input[type="submit"] {
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    border: 1px solid #666;
    /*margin-top: 5px;*/
    padding: 0;
    font-weight: bold;
}

    .pagebar a:hover, .pagebar input[type="button"]:hover, .pagebar input[type="submit"]:hover {
        border: 1px solid #de0516;
        font-weight: bold;
        color: #fff;
        background: #d84e57; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4NGU1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNTA1MGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #d84e57 0%, #b5050e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d84e57), color-stop(100%,#b5050e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #d84e57 0%,#b5050e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #d84e57 0%,#b5050e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #d84e57 0%,#b5050e 100%); /* IE10+ */
        background: linear-gradient(to bottom, #d84e57 0%,#b5050e 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d84e57', endColorstr='#b5050e',GradientType=0 ); /* IE6-8 */
    }
/*彈窗字體顏色分頁控件布局 start*/
.left {
    float: left;
}

.t-bold {
    font-weight: bold;
}
/*t-color*/
.t-red {
    color: #F81B47 !important;
}

.t-blue {
    color: #96C2D5 !important;
}

.t-blue02 {
    color: #2677AD !important;
}

.t-orange {
    color: #D7823F !important;
}

.t-orange02 {
    color: #EB5902 !important;
}

.t-gree {
    color: #8CBD7B !important;
}

.t-gree02 {
    color: #008A46 !important;
}

.t-yellow {
    color: #F7E900 !important;
}

.t-yellow02 {
    color: #CCBD02 !important;
}

.t-gray {
    color: #929292 !important;
}

.t-gray02 {
    color: #5E5D5C !important;
}

.t-purple {
    color: #8366AA !important;
}

.t-purple02 {
    color: #8366AA !important;
}

.t-black {
    color: #000 !important;
}

.t-tips {
    color: #0e6ba9 !important;
}

.t-white {
    color: #fff !important;
}
/*彈窗字體顏色分頁控件布局 end*/

.pagebar a:first-child {
    margin-left: 1px;
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .pagebar i {
        position: relative;
        top: 2px;
        left: -1px;
    }
}

/*表格點選變紅色*/
.redSelect {
    background: rgba(238,118,36,0.95) !important;
    cursor: pointer;
    color: #fff !important;
}

select {
    -moz-border-radius: 5px;
    color: #2677AD;
    padding: 3px 20px 3px 5px;
    cursor: pointer;
    outline: none;
}

/*POP Menu Add by John (彈窗css) start*/
/*查詢條件區(_pop)*/
.popmaindiv {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px dashed #CCC;
}

.popmaintb {
    border: 0;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    background: #CFEDEC;
}

    .popmaintb #lbFunctionTitle {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        height: 26px;
        color: #000;
        line-height: 26px;
        margin: 0px;
        float: left;
        margin: 0 0 0 15px;
    }

    .popmaintb #lbMainTableName {
        line-height: 30px;
    }

.popbtntoolbar {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 0px 0px 5px;
}

.popheader {
    background-color: #FFFFFF;
    height: 50px;
}

.popbody {
    background-color: #CFEDEC;
    min-height: 100px;
    vertical-align: top;
}

.popquerytb {
    border: 0;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

    .popquerytb tr {
        height: 20px;
        vertical-align: middle;
    }

    .popquerytb td {
        height: 20px;
        vertical-align: middle;
        font-size: 14px;
    }

    .popquerytb .tdcaption {
        text-align: right;
    }

    .popquerytb textarea,
    .popquerytb input[type="color"],
    .popquerytb input[type="email"],
    .popquerytb input[type="file"],
    .popquerytb input[type="number"],
    .popquerytb input[type="password"],
    .popquerytb input[type="tel"],
    .popquerytb input[type="url"],
    .popquerytb input[type="text"] {
        border: 0 !important; /*Removes border*/
        -webkit-appearance: none; /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        background: #fff; /*url(./img/input-twxt_01.gif) no-repeat top right;*/
        border-radius: 3px;
        box-shadow: 0 1px 10px rgba(50, 50, 50, 0.1);
        /* outline: none;*/
        height: 28px;
        padding: 0 10px 0 10px;
        font-family: "微軟正黑體", "標楷體","儷黑Pro";
        font-size: 12px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
    }

    .popquerytb input[type="radio"] {
        border: none;
        outline: none;
        height: 18px;
        vertical-align: middle;
        margin-left: 10px;
    }

    .popquerytb select {
        border: 0 !important; /*Removes border*/
        -webkit-appearance: none; /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        background: url(../img/dropdown_arrow.png) no-repeat #fff center right; /*  Adds background-image*/
        text-indent: 0.01px; /* Removes default arrow from firefox*/
        text-overflow: ellipsis; /*Removes default arrow from firefox*/
        position: relative;
        padding: 5px 5px 5px 5px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 10px rgba(50, 50, 50, 0.1);
        cursor: pointer;
        outline: none;
        font-family: "微軟正黑體", "標楷體","儷黑Pro";
        font-size: 12px;
    }

        .popquerytb select::-ms-expand {
            display: none;
        }
/*IE 10 select 的下拉符號*/

.poptrhr {
    height: 5px;
}
/*放置HR那一條線  高度不用太高*/
hr {
    border: 0;
    height: 1px;
    background-color: #d4d4d4;
    color: #d4d4d4;
}

.popGridTitle {
    font-weight: bold;
    height: 18px;
    text-align: center;
    border: dashed 1px #ccc;
    background: #97c4c2;
    color: #3c6461;
    font-size: 12px;
}

.popGridTitle1 {
    font-weight: bold;
    height: 18px;
    text-align: center;
    background: #97c4c2;
    color: #3c6461;
    font-size: 12px;
}

.popGridTitle2 {
    font-weight: bold;
    height: 18px;
    text-align: left;
    color: #8A2081;
    font-size: 12px;
}
/*for Attachment*/
.popGridRow {
    border: dashed 1px #CCC;
    background: white;
    text-align: center;
    font-size: 12px;
}
/*標準內容欄*/
.popGridRow1 {
    border-bottom: dashed 1px #CCC;
    border-right: dashed 1px #ccc;
    background: white;
    height: 24px;
    text-align: center;
    border-left: dashed 1px #ccc;
    font-size: 12px;
    font-weight: bold;
}

.popGridRow1checked {
    background: #00ccff;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

.poptable {
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    table-layout: fixed; /* IE6 IE7 */
}

    .poptable td {
        height: 20px;
        font-size: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        table-layout: fixed; /* IE6 IE7 */
    }

/*POP Menu Add by John (彈窗css)  end */
/*Add by Alina 20150730 手機樣式 (彈窗css)  Star */
@media screen and (max-width: 767px) {
    #divtabsPanelList {
        display: none;
    }

    #lbMainTableName {
        display: none;
    }

    #ModTree {
        display: none;
    }

    span[ishasselect2="true"] {
        min-width: 100px;
        text-align: left;
        display: inline-block;
    }
}
/*Add by Alina 20150730 手機樣式 (彈窗css)  End */

/*Add by Alina 20150818 畫面縮小後出現上面的滾動條壓住下面的滾動條的情況  Star */
@media screen and (max-height: 767px) {
    div[role="tabpanel"] {
        padding-right: 0;
    }
}
/*Add by Alina 20150818 畫面縮小後出現上面的滾動條壓住下面的滾動條的情況  End */

.ui-state-hover {
    background-color: rgba(238,118,36,0.95) !important;
}

a {
    text-decoration: none !important;
}

span.error {
    color: #F70C07;
}

    #searchbar .row {
        margin: 10px;
    }

.page-title {
    z-index: 100;
    width: 100%;
    height: 80px;
}

#Toolbar {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: -40px;
}

/****Button****/
.btn-custom {
    display: inline-block;
    padding: 8px 14px;
    outline: 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

    .btn-custom.gray:active,
    .btn-custom:active {
        background-color: #f5f5f5;
    }

    .btn-custom:active,
    .btn-custom:hover {
        color: inherit;
    }

    .btn-custom + .btn-custom {
        margin-left: 5px;
    }

    .btn-custom.gray {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f5f5f5));
        background-image: -webkit-linear-gradient(top, #fcfcfc, #f5f5f5);
        background-image: -o-linear-gradient(top, #fcfcfc, #f5f5f5);
        background-image: linear-gradient(to bottom, #fcfcfc, #f5f5f5);
        background-image: -moz-linear-gradient(top, #fcfcfc, #f5f5f5);
    }

        .btn-custom.gray:hover {
            filter: alpha(opacity=87);
            opacity: .87;
        }

        .btn-custom.gray:active {
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fcfcfc));
            background-image: -webkit-linear-gradient(top, #f5f5f5, #fcfcfc);
            background-image: -o-linear-gradient(top, #f5f5f5, #fcfcfc);
            background-image: linear-gradient(to bottom, #f5f5f5, #fcfcfc);
            background-image: -moz-linear-gradient(top, #f5f5f5, #fcfcfc);
        }

    .btn-custom.blue {
        color: #008BFF;
        border: 1px solid #008BFF;
    }

        .btn-custom.blue:active,
        .btn-custom.blue:hover {
            background: #008BFF;
        }

    .btn-custom.blue-light {
        color: #5BC5FF;
        border: 1px solid #5BC5FF;
    }

        .btn-custom.blue-light:active,
        .btn-custom.blue-light:hover {
            background: #5BC5FF;
        }

    .btn-custom.green {
        color: #27ae60;
        border: 1px solid #27ae60;
    }

        .btn-custom.green:active,
        .btn-custom.green:hover {
            background: #27ae60;
        }

    .btn-custom.red {
        color: #ed5a5a;
        border: 1px solid #ed5a5a;
    }

        .btn-custom.red:hover {
            background: #ed5a5a;
        }

        .btn-custom.red:active {
            background: #ed5a5a;
        }

    .btn-custom.orange {
        color: #ff8700;
        border: 1px solid #ff8700;
    }

        .btn-custom.orange:hover {
            background: #ff8700;
        }

        .btn-custom.orange:active {
            background: #F78302;
        }

    .btn-custom.black {
        color: #555;
        border: 1px solid #555;
    }

        .btn-custom.black:hover {
            background: #555;
        }

        .btn-custom.black:active {
            background: #333;
        }

        .btn-custom.black:hover,
        .btn-custom.blue-light:hover,
        .btn-custom.blue:hover,
        .btn-custom.green:hover,
        .btn-custom.orange:hover,
        .btn-custom.red:hover {
            border-color: transparent;
            color: #fff;
        }

        .btn-custom.black:active,
        .btn-custom.blue-light:active,
        .btn-custom.blue:active,
        .btn-custom.green:active,
        .btn-custom.orange:active,
        .btn-custom.red:active {
            border-color: transparent;
            color: #fff;
            filter: alpha(opacity=87);
            opacity: .87;
        }

    .btn-custom[disabled], .btn-custom[disabled]:hover {
        border-color: #CCC;
        background-color: #f5f5f5;
        cursor: not-allowed;
        color: #666;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }

.buttons {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    margin: 20px 0;
}
/****Button****/
.langspan {
    position: relative;
    top: 5px;
}

input[type="text"] {
    height: 30px !important;
}

input.date, .date-picker, .datetime-picker, .daterange-picker, .datetimerange-picker, .timerange-picker {
    background-image: url("../img/calendar.gif") !important;
    background-repeat: no-repeat !important;
    background-position: 98% 50% !important;
}

.tbpop {
    margin: 5px;
    width: 90%;
}

    .tbpop tbody tr td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .tbpop tbody tr .spanname {
        text-align: right;
        width: 20%;
    }

.grid-selected > .jsgrid-cell {
    background: #c4e2ff;
    border-color: #c4e2ff;
}

.popsrow {
    margin: 10px 0 10px 0;
}

#PopsGrid, #PopmGrid {
    margin: 0 5px 0 5px;
}

.addon-search {
    height: 30px;
    background-color: #f5f5f5;
    border: 1px solid #666 !important;
}

    .addon-search:hover {
        background-color: white;
        border: 1px solid #000 !important;
    }

fieldset {
    border: 2px groove threedface !important;
    width: 99%;
    margin: 10px 0px 0px 10px !important;
    padding: 15px 10px 0px 0px !important;
}

.highlight {
    -webkit-transition: border linear .2s,-webkit-box-shadow linear .5s;
    border-color: rgba(141,39,142,.75) !important;
    -webkit-box-shadow: 0 0 18px rgba(111,1,32,3);
}

.checkboxcol {
    width: 3%;
}

.aftercol {
    width: 24%;
}

.data-void {
    text-decoration: line-through;
    color: #777;
}

.cusgroup-addon {
    background-color: #fff !important;
}

.pop-box {
    text-align: center;
    padding: 20px 10px 0 10px;
}

#VoidReason {
    padding: 5px;
}

.ui-datepicker-year, .ui-datepicker-month {
    height: 25px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px #ccc solid;
    color: #2677AD;
    background: url(/img/shearch_icon.png)#fff right no-repeat;
    -webkit-appearance: none;
    padding: 0 20px 3px 5px;
    cursor: pointer;
    outline: none;
}

.text-label {
    padding-top: 4px;
    font-weight: inherit;
}

.project-stats {
    overflow-x: hidden;
    height: 100%;
}

.section > div {
    width: 95%;
    margin: 0 auto;
}

.table-responsive {
    padding: 0 10px 0 10px;
}

.flowtitle {
    text-align: center;
    font-size: x-large;
}

.basedata {
    width: 20%;
}

.baseflownlael {
    height: 20px;
}

.errormsg {
    color: red;
    margin-right: 20%;
}

.span-padding {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.content-font {
    font-size: 12px !important;
}