@charset "utf-8";

html *, html :before, html :after {
    box-sizing: border-box;
}

:before, :after {
    z-index: -1;
}

body {
    overflow-x: hidden;
    font-family: sans-serif,Helvetica,Arial,'Noto Sans TC','cwTeXHei','微軟正黑體','華康細黑體';
    height: 100% !important;
    color: #222;
    background: #FFF;
    font-weight: 300;
    padding-right: 0 !important;
    cursor: default;
    font-weight: normal;
}

::selection {
    background: #fff;
    color: #ee7624;
}

::-moz-selection {
    background: #fff;
    color: #ee7624;
}

body::-webkit-scrollbar, .ekko-lightbox::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

body::-webkit-scrollbar-thumb, .ekko-lightbox::-webkit-scrollbar-thumb {
    background-color: #00387b;
    border-radius: 2px;
}

body::-webkit-scrollbar-track-piece, .ekko-lightbox::-webkit-scrollbar-track-piece {
    background-color: #e4e4e4;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    max-height: 36px;
}

.navbar-default {
    background-color: #FFF;
    border: none;
    position: relative;
    margin-bottom: 0;
}

.navbar-brand {
    height: 63px;
    padding: 17px 0 10px;
}

.navbar-right {
    padding-top: 30px;
    margin: 0;
}

    .navbar-right li {
        display: inline-block;
        padding-right: 12px;
        border-right: 1px dotted rgba(9,57,114,0.5);
        margin-right: 12px;
        height: 20px;
        vertical-align: text-top;
    }

    .navbar-right a {
        color: #093972;
        font-size: 13px;
        font-weight: 400;
        vertical-align: middle;
        line-height: 20px;
        height: 20px;
    }

        .navbar-right a:hover, .navbar-right a:focus, .navbar-right a:active {
            background: rgba(192,197,204,.2);
            color: #093972;
            border-radius: 5px;
        }

        .navbar-right a img {
            height: 18px;
            margin-right: 5px;
            margin-top: -1px;
        }

    .navbar-right .facebook img, .navbar-right .wechat img {
        margin-top: -3px;
    }

.nav > .nav-hidden, header .navtop-m, .navbar-brand-m {
    display: none;
}

.main-nav {
    background-color: #ee7624;
}

.navbar-nav {
    width: 100%;
    border-left: 1px solid #f58b4f;
    border-right: 1px solid #d05c1b;
}

    .navbar-nav > li {
        width: 25%;
        text-align: center;
        border-left: 1px solid #d05c1b;
        border-right: 1px solid #f58b4f;
    }

.navbar-default .navbar-nav > li > a {
    font-weight: 400;
    font-size: 15px;
    font-family: 'å¾®è»Ÿæ­£é»‘é«”';
    color: #FFF;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #ec681e;
    }

.nav-shadow {
    background: url(../img/shadow01.png) center top no-repeat;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -3px;
    clear: both;
    z-index: 1;
}

.gotop {
    bottom: 76px;
    right: -20px !important;
    position: fixed;
    -ms-transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    backface-visibility: hidden;
    z-index: 3;
    mix-blend-mode: multiply;
}

    .gotop span {
        display: inline-block;
        color: #103a71;
        font-size: 15px;
        padding: 10px 15px 8px 0;
        border-right: 1px solid #103a71;
    }

        .gotop span::before {
            display: block;
            position: absolute;
            height: 1px;
            background: currentColor;
            left: -50px;
            width: 40px;
            top: 50%;
            margin-top: -1px;
            -ms-transform-origin: left;
            -webkit-transform-origin: left;
            transform-origin: left;
            content: '';
        }

        .gotop span::after {
            display: block;
            position: absolute;
            height: 1px;
            left: -50px;
            top: 29%;
            color: #103a71;
            margin-top: -1px;
            -ms-transform-origin: left;
            -webkit-transform-origin: left;
            transform-origin: left;
            content: url(../img/seemore_arrow.png);
        }

        .gotop span, .gotop span:before, .gotop span:after {
            transition: transform .3s ease-in-out;
        }

    .gotop:hover span:before {
        left: -75px;
        width: 65px;
        -webkit-transition: .1s;
        transition: .1s;
    }

    .gotop:hover span::after {
        left: -75px;
        -webkit-transition: .1s;
        transition: .1s;
    }

#main-wrapper {
    margin: 0 auto 20px;
}

.project-stats {
    overflow: inherit;
}

.page-inner {
    background: transparent;
}

.panel-info {
    border: none;
    padding: 10px 15px 0; /*margin-top:50px*/
}

.footertop {
    background: #ee7624;
    text-align: right;
    font-weight: 700;
    font-style: italic;
    padding: 10px 0;
}

    .footertop i {
        margin-left: 10px;
    }

footer {
    background: #ec681e;
    padding: 27px 0 30px;
}

.footer-logo {
    width: 200px;
    margin-top: 3px;
}

    .footer-logo img {
        width: 100%;
    }

.footer-icon {
    display: inline-block;
    color: #FFF;
    margin-right: 15px;
    margin-top: 6px;
    vertical-align: bottom;
    line-height: 1;
}

    .footer-icon img {
        max-height: 17px;
        margin-right: 3px;
        vertical-align: text-bottom;
    }

footer .lag {
    display: inline-block;
    background-image: url(../img/lag-bg.png);
    height: 31px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 112px;
    text-align: center;
    line-height: 32px;
    margin-left: 5px;
    margin-bottom: 7px;
    font-size: 13px;
}

    footer .lag:hover {
        box-shadow: -10px 4px 10px rgba(0,0,0,0.1),-7px 6px 10px rgba(0,0,0,0.13);
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        transition: all .7s;
    }

    footer .lag img {
        margin-left: 7px;
        vertical-align: text-top;
        margin-top: 1px;
    }

.copyright {
    color: #FFF;
    font-size: 13px;
    font-style: italic;
}

p {
    line-height: 1.7;
    font-size: 14px;
    color: #555;
    font-weight: 400;
}

a, a:hover, a:focus, a:active, a.active, input:focus {
    outline: 0;
    outline: none;
    color: #FFF;
    text-decoration: none;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

section {
    padding: 30px 0;
    min-height: 50vh;
    background: url(../img/footerbg.png) #fFF no-repeat bottom;
    background-size: 100%;
}

.banner {
    position: relative;
    overflow: hidden;
    background: url(../img/banner-news.jpg) no-repeat center center;
    background-size: cover;
    height: 300px;
    height: 33vh;
}

.banner-text-detail {
    bottom: 30px;
    height: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

    .banner-text-detail img {
        position: relative;
        right: 0;
        height: 100%;
        max-height: 79px;
    }

.social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 10px auto;
    position: fixed;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    transition: .5s;
    right: 0;
    top: 150px;
    z-index: 3;
}

    .social-nav li {
        float: none;
        display: block;
        margin-bottom: 2px;
    }

.sidebar-1, .sidebar-2 {
    display: inline-block;
}

.title {
    margin-bottom: 30px;
}

    .title h2 {
        font-size: 32px;
        color: #ec681e;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1px;
        margin-top: 0;
    }

    .title h5 {
        color: #bdbdbd;
        font-size: 14px;
        padding-left: 63px;
        position: relative;
        margin-top: 0;
        font-weight: 400;
    }

        .title h5:before {
            display: block;
            position: absolute;
            height: 1px;
            background: currentColor;
            width: 60px;
            top: 50%;
            -ms-transform-origin: left;
            content: '';
            z-index: 1;
            left: 0;
        }

.goodsinfo .title h2 {
    font-size: 30px;
    margin-bottom: 3px;
    display: inline-block;
}

.goodsinfo .title h5 {
    display: inline-block;
    font-size: 16px;
    padding-left: 33px;
    color: #999;
    font-weight: 700;
}

    .goodsinfo .title h5:before {
        width: 30px;
    }

.detail-title {
    background: url(../img/detail-title-bg.png);
    width: 115px;
    height: 40px;
    text-align: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 10px;
}

    .detail-title p {
        line-height: 40px;
        margin: 0 0 0 -10px;
        font-size: 15px;
        color: #FFF;
        font-weight: 400;
    }

.shadow {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.3);
}

#changeImg {
    width: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.change, .change:hover, .change:focus, .change:active {
    color: #8d8d8d;
    font-size: 13px;
    margin-left: 5px;
    top: -2px;
    position: relative;
}

    .change i {
        margin-right: 3px;
    }

.m-panel {
    border: 0;
    background: #fdfdfd;
    border-top: 6px solid #00387b;
    padding: 5px 15px 0;
}

.form-group-material {
    position: relative;
    margin: 12px 0;
    display: inline-block;
    width: 100%;
}

    .form-group-material:after {
        height: 1px;
        background: #e6e6e6;
        width: 100%;
    }

    .form-group-material:before {
        height: 2px;
        background: #00387b;
        z-index: 1;
        width: 0;
        -webkit-transition: width .3s;
        transition: width .3s;
    }

    .form-group-material:after, .form-group-material:before {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    .form-group-material.focused:before {
        width: 100%;
    }

.form-header {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

    .form-header i {
        font-size: 16px;
        margin-right: 5px;
        margin-bottom: 2px;
        color: #5c5c5c;
    }

.material-label {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    cursor: text;
    color: #8d8d8d;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: -webkit-transform ease 0.3s,color ease .3s;
    transition: transform ease 0.3s,color ease .3s;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    margin-left: 10px;
    background: #fdfdfd;
}

.has-value .material-label {
    -webkit-transform: translateY(-186%) scale(0.82);
    -ms-transform: translateY(-186%) scale(0.82);
    transform: translateY(-186%) scale(0.82);
    color: #00387b;
}

.focused .material-label {
    -webkit-transform: translateY(-186%) scale(0.82);
    -ms-transform: translateY(-186%) scale(0.82);
    transform: translateY(-186%) scale(0.82);
    color: #F44336;
}

input.material-field, textarea.material-field {
    border-width: 0;
    box-shadow: none;
    margin: 0;
    background: transparent;
    width: 100%;
    padding: 11px;
    border: 1px solid #e6e6e6;
}

    input.material-field:focus, textarea.material-field:focus {
        box-shadow: none;
        background: none;
        color: #555;
    }

button {
    border-radius: 3px;
    padding: 8px 18px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #E91E63;
}

    button:hover {
        background: #f27ba3;
    }

.btn {
    display: inline-block;
    margin: 15px;
    background-color: rgba(238,118,36,0.95);
    color: #FFF;
    -webkit-transition: .1s linear;
    transition: .1s linear;
    border: solid 1px #ee7624;
    width: 200px;
    height: 45px;
    line-height: 34px;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-weight: 400;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

    .btn img {
        width: 15px;
        margin-top: -3px;
        margin-left: 5px;
    }

    .btn:before {
        content: ' ';
        position: absolute;
        background-color: rgba(238,118,36,0.9);
        width: 25px;
        height: 50px;
        top: 0;
        left: -40px;
        opacity: .25;
        -webkit-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
        z-index: 2;
        border-color: #ee7624;
        outline: 0;
        -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,.075),2px 2px 8px rgba(238,118,36,0.6);
        box-shadow: inset 2px 2px 2px rgba(0,0,0,.075),2px 2px 8px rgba(238,118,36,0.6);
    }

    .btn:hover, .btn:focus, .btn.focus {
        background-color: rgba(238,118,36,0.95);
        color: #FFF;
        -webkit-transition: .1s linear;
        transition: .1s linear;
    }

        .btn:hover .fa {
            color: #FFF;
            -webkit-transition: .1s linear;
            transition: .1s linear;
        }

.form-group {
    border-right: solid 1px #f3f3f3;
}

    .form-group:last-child {
        border: none;
    }

.goodsinfo {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}

.text-label {
    padding-top: 0;
    color: #1a1a1a;
    line-height: 1;
    font-size: 16px;
}

.goodsinfo .control-label {
    color: #999;
}

.steps {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
}

.step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    pointer-events: none;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
}

    .step a {
        display: inline-block;
        position: relative;
        line-height: 2.5;
        padding: 0 20px;
        color: #fff;
        text-decoration: none;
    }

    .step::before {
        content: '';
        position: absolute;
        left: 0;
        height: 50%;
        width: 100%;
        background: #ff661a;
        top: 0;
        -webkit-transform: skew(20deg);
        transform: skew(20deg);
        z-index: 1;
    }

    .step::after {
        bottom: 0;
        -webkit-transform: skew(-20deg);
        transform: skew(-20deg);
        content: '';
        position: absolute;
        left: 0;
        height: 50%;
        width: 100%;
        background: #ff661a;
        z-index: 1;
    }

.step {
    display: inline-block;
    position: relative;
    margin-right: 3px;
}

    .step:last-child a {
        cursor: default;
    }

.step-incomplete::before, .step-incomplete::after {
    background: #e1e1e1;
}

.step a {
    display: inline-block;
    position: relative;
    line-height: 3;
    padding: 0 13px;
    color: #fff;
    text-decoration: none;
    z-index: 2;
    font-size: 13px;
}

.step.step-incomplete a {
    color: #999;
}

.step.step-active a {
    color: #FFF;
}

.step-active::before, .step-active::after {
    background: #103a71;
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    color: #a0a5aa !important;
    border-color: #ddd !important;
    background: #f7f7f7 !important;
    text-shadow: 0 1px 0 #fff !important;
    -moz-box-shadow: inset 1px 1px 5px rgba(154,147,140,0.5),1px 1px 5px rgba(255,255,255,1);
    -webkit-box-shadow: inset 1px 1px 5px rgba(154,147,140,0.5),1px 1px 5px rgba(255,255,255,1);
    box-shadow: inset 1px 1px 5px rgba(154,147,140,0.5),1px 1px 5px rgba(255,255,255,1);
    cursor: not-allowed;
}

.table-responsive .table-striped {
    position: relative;
    box-shadow: none;
    border: 1px solid #f3f3f3;
    color: #555;
    color: #1a1a1a;
    margin-bottom: 0px;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th, .table-bordered {
    border: none;
    padding: 10px;
    text-align: left !important;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #FFF;
}

.table > thead:first-child > tr:first-child {
    background-color: #e1e1e1;
}

.table-striped > tbody > tr:first-child {
    color: #00387b;
    font-weight: 700;
}

.table-striped > tbody {
    position: relative;
}

    .table-striped > tbody:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 15px 10px -10px rgba(31,31,31,0.5);
    }

hr {
    margin-bottom: 30px;
    height: 5px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    opacity: .6;
}

.step-all-complete a:after {
    content: url(../img/flag.png);
    position: absolute;
    top: -8px;
    display: inline-block;
    height: 16px;
    right: -5px;
    -webkit-filter: drop-shadow(2px 3px 2px #222);
    filter: drop-shadow(2px 3px 2px #222);
}

.ng-scope {
    width: 100%;
    margin: .2em 0;
    padding: 5px 15px;
    list-style: none;
    background-color: #ffebdd;
    cursor: pointer;
    color: #4a4a4a;
    position: relative;
    z-index: 2;
    font-size: 15px;
    text-align: left;
    border-radius: 0 5px 5px 0;
    line-height: 1.7;
    margin-bottom: 30px;
}

    .ng-scope h4 {
        font-weight: 700;
        text-align: center;
        font-size: 16px;
        display: inline-block;
        margin: 0;
        line-height: 2.2;
    }

        .ng-scope h4 label {
            margin-bottom: 0;
        }

        .ng-scope h4 span {
            font-weight: 400;
            color: #777;
            margin-left: 10px;
            border-left: 2px solid #ff9b64;
            padding-left: 10px;
        }

.goodsinfo .tab-pane.col-xs-12.text-center:nth-child(2) {
    margin-bottom: 30px;
    border-bottom: 1px solid #b7b6b3;
}

@media (min-width: 997px) {
    .container2 {
        width: 920px;
    }
}

@media (max-width: 997px) {
    nav .container {
        width: 850px;
    }

    .steps {
        text-align: left;
        padding-left: 15px;
    }

    #changeImg {
        text-align: center;
    }

    .send.text-right {
        text-align: center;
    }

    .btn {
        margin-top: 10px;
    }

    .goodsinfo .title h2 {
        font-size: 26px;
    }

    .title h2 {
        font-size: 28px;
    }

    .table-bordered > tbody > tr > td:nth-child(2), .table-bordered > tbody > tr > td:nth-child(1), .table-bordered > thead > tr > th:nth-child(2), .table-bordered > thead > tr > th:nth-child(1) {
        width: 30% !important;
    }

    .table-bordered > tbody > tr > td:nth-child(3), .table-bordered > thead > tr > th:nth-child(3) {
        width: 40% !important;
    }

    .table-bordered > tbody > tr > td:nth-child(4), .table-bordered > thead > tr > th:nth-child(4) {
        display: none;
    }

    .table-responsive > .table > tbody > tr > td {
        white-space: inherit;
    }

    .table-responsive .table-striped {
        border: none;
    }

    footer .col-xs-12 {
        width: 50%;
    }
}

@media (max-width: 860px) {
    .banner {
        background-position: left;
    }
}

@media (max-width: 767px) {
    .container, .container2, nav .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-right {
        text-align: right;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    .nav > .nav-hidden {
        display: block;
    }

    .nav > .social-nav-m {
        width: 50%;
        float: left;
        text-align: center;
        border-bottom: none;
    }

        .nav > .social-nav-m:nth-child(1) {
            border-color: #3b579d;
        }

        .nav > .social-nav-m:nth-child(2) {
            border-color: #42ad48;
        }

    .social-nav-m .color-facebook, .navbar-nav .social-nav-m .color-facebook:hover {
        background: #3B579D;
    }

    .social-nav-m .color-wechat, .navbar-nav .social-nav-m .color-wechat:hover {
        background: #42ad48;
    }

    .nav > .social-nav-m img {
        height: 22px;
    }

    .container, .container2, .detail-page .container2 {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-nav > li {
        width: 100%;
        text-align: left;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #d05c1b;
        border-top: 1px solid #f58b4f;
    }

        .navbar-nav > li > a {
            padding: 13px;
        }

    .navbar-brand-m {
        display: block;
        padding: 10px 15px;
        height: 48px;
    }

    .navbar-brand > img {
        max-height: 30px;
    }

    .navbar-nav {
        width: 100%;
        border-left: none;
        border-right: none;
        margin: 0;
    }

    .main-nav {
        background-color: #FFF;
    }

    .navbar-default .navbar-collapse {
        border: none;
        max-height: 500px;
        background: #ee7624;
        padding: 0;
    }

    .navtop, .social-nav {
        display: none;
    }

    .banner {
        margin-top: 80px;
    }

    .banner-cover {
        display: none;
    }

    header .navtop-m {
        display: block;
        background: #00387b;
        background: -moz-linear-gradient(left,#00387b 0%,#004696 30%,#005596 50%,#004696 70%,#004696 100%,#00387b 100%);
        background: -webkit-linear-gradient(left,#00387b 0%,#004696 30%,#005596 50%,#004696 70%,#004696 100%,#00387b 100%);
        background: linear-gradient(to right,#00387b 0%,#004696 30%,#005596 50%,#004696 70%,#004696 100%,#00387b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00387b',endColorstr='#00387b',GradientType=1);
        background: #ed6d17;
        background: -moz-linear-gradient(left,#ed6d17 0%,#ee7624 10%,#e89625 50%,#ee7624 90%,#ed6d17 100%);
        background: -webkit-linear-gradient(left,#ed6d17 0%,#ee7624 10%,#e89625 50%,#ee7624 90%,#ed6d17 100%);
        background: linear-gradient(to right,#ed6d17 0%,#ee7624 10%,#e89625 50%,#ee7624 90%,#ed6d17 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed6d17',endColorstr='#ed6d17',GradientType=1);
    }

    .navtop-m {
        padding: 7px 0;
    }

        .navtop-m .navbar-right {
            padding: 0;
        }

            .navtop-m .navbar-right a {
                color: #fff;
                font-size: 12px;
                line-height: 16px;
                height: 16px;
            }

                .navtop-m .navbar-right a:hover {
                    background: none;
                }

            .navtop-m .navbar-right li {
                border-right: 1px dotted rgba(255,255,255,0.5);
                height: 16px;
            }

    .navbar-toggle, .navbar-default, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #103a71;
        border-radius: 0;
    }

        .navbar-default .navbar-toggle {
            border: none;
        }

            .navbar-default .navbar-toggle .icon-bar {
                background-color: #fff;
            }

    .navtop-m .navbar-right li:last-child {
        margin-right: 0;
        border: none;
        padding: 0;
    }

    .banner .banner-text {
        width: 80%;
        right: 5%;
        top: auto;
        bottom: 16%;
        max-width: 512px;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }

    div[role="tabpanel"] {
        padding: 0;
    }

    .form-group {
        width: 50% !important;
        float: left;
        border: none;
        font-weight: bold;
    }

        .form-group .text-label {
            font-size: 15px;
            font-weight: normal;
        }

        .form-group.w18p {
            width: 100% !important;
            min-height: 60px;
            border-right: none;
            border-bottom: solid 1px #f3f3f3;
        }

            .form-group.w18p .text-label {
                font-size: 18px;
                color: #103a71;
                font-weight: bold;
            }

    .table-responsive {
        padding: 0;
        overflow: hidden;
    }
}

@media (max-width: 640px) {
    .form-group {
        width: 100%;
        min-height: 60px;
        border: none;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #f3f3f3;
    }

        .form-group:last-child {
            border-bottom: solid 1px #f3f3f3;
        }

    #main-wrapper {
        padding: 0;
    }

        #main-wrapper > .col-xs-12 {
            padding: 0;
        }

    #gotop {
        display: none !important;
    }

    .steps {
        text-align: left;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .step a {
        font-size: 12px;
        padding: 0 8px;
    }

    .panel-info {
        margin-top: 0px;
    }

    .form-horizontal > .col-xs-12 {
        padding: 0;
    }

    .goodsinfo {
        margin-bottom: 0;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th, .table-bordered {
        text-align: center !important;
    }

    .ng-scope {
        text-align: center;
    }

        .ng-scope h4 {
            line-height: 1.5;
            padding: 5px 0;
        }

            .ng-scope h4 span {
                margin-left: 0;
                border-left: none;
                padding-left: 0;
                display: block;
                font-size: 14px;
            }
}

@media (max-width: 520px) {
    .table-bordered > tbody > tr > td:nth-child(2), .table-bordered > tbody > tr > td:nth-child(1), .table-bordered > thead > tr > th:nth-child(2), .table-bordered > thead > tr > th:nth-child(1) {
        width: 50% !important;
        text-align: center;
    }

    .table-bordered > tbody > tr > td:nth-child(3), .table-bordered > thead > tr > th:nth-child(3) {
        display: none;
    }

    .title {
        margin-bottom: 30px;
    }

    footer .col-xs-12 {
        width: 100%;
        text-align: center;
    }

    .footer-logo {
        width: 150px;
        margin: 0 auto;
    }

    footer .lag {
        font-size: 12px;
        width: 96px;
        height: 27px;
        line-height: 27px;
    }

    .footer-icon {
        margin-bottom: 20px;
        margin-right: 8px;
    }

    .copyright {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .form-group {
        width: 100% !important;
    }
}

@media print {
    .step-complete {
        border: 1px solid #ee7624;
    }

    .step-incomplete {
        border: 1px solid #d0d0d0;
    }

    .div-complete {
        position: relative;
        left: -2px;
        display: block;
        margin-left: -1px;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-left: 19px solid #ee7624;
        width: 0;
        height: 0;
        float: left;
    }

    .div-incomplete {
        position: relative;
        left: -2px;
        display: block;
        margin-left: -1px;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-left: 19px solid #d0d0d0;
        width: 0;
        height: 0;
        float: left;
    }

    .steps li {
        float: left;
    }

    .step-complete a:after, .step-incomplete a:after {
        content: '';
        position: absolute;
        top: -8px;
        display: inline-block;
        height: 16px;
        right: -5px;
        filter: drop-shadow(2px 3px 2px #222);
    }

    .step-all-complete a:after {
        content: url(../img/flag.png);
        position: absolute;
        top: -8px;
        display: inline-block;
        height: 16px;
        right: -5px;
        filter: drop-shadow(2px 3px 2px #222);
    }
    .flowtitle {
        display:none;
    }
    .print-title{
        display:none;
    }
    .w100p {
        width: 100% !important;
    }

    .w95p {
        width: 95% !important;
    }

    .w90p {
        width: 90% !important;
    }

    .w85p {
        width: 85% !important;
    }

    .w67p {
        width: 67% !important;
    }

    .w80p {
        width: 80% !important;
    }

    .w75p {
        width: 75% !important;
    }

    .w70p {
        width: 70% !important;
    }

    .w65p {
        width: 65% !important;
    }

    .w60p {
        width: 60% !important;
    }

    .w58p {
        width: 58% !important;
    }

    .w57p {
        width: 57% !important;
    }

    .w56p {
        width: 56% !important;
    }

    .w55p {
        width: 55% !important;
    }

    .w50p {
        width: 50% !important;
    }

    .w49p {
        width: 49% !important;
    }

    .w48p {
        width: 48% !important;
    }

    .w47p {
        width: 47% !important;
    }

    .w46p {
        width: 46% !important;
    }

    .w45p {
        width: 45% !important;
    }

    .w44p {
        width: 44% !important;
    }

    .w43p {
        width: 43% !important;
    }

    .w42p {
        width: 42% !important;
    }

    .w41p {
        width: 41% !important;
    }

    .w40p {
        width: 40% !important;
    }

    .w39p {
        width: 39% !important;
    }

    .w38p {
        width: 38% !important;
    }

    .w37p {
        width: 37% !important;
    }

    .w36p {
        width: 36% !important;
    }

    .w35p {
        width: 35% !important;
    }

    .w34p {
        width: 34% !important;
    }

    .w33p {
        width: 33% !important;
    }

    .w32p {
        width: 32% !important;
    }

    .w31p {
        width: 31% !important;
    }

    .w30p {
        width: 30% !important;
    }

    .w29p {
        width: 29% !important;
    }

    .w28p {
        width: 28% !important;
    }

    .w27p {
        width: 27% !important;
    }

    .w26p {
        width: 26% !important;
    }

    .w25p {
        width: 25% !important;
    }

    .w24p {
        width: 24% !important;
    }

    .w23p {
        width: 23% !important;
    }

    .w22p {
        width: 22% !important;
    }

    .w21p {
        width: 21% !important;
    }

    .w20p {
        width: 20% !important;
    }

    .w19p {
        width: 19% !important;
    }

    .w18p {
        width: 18% !important;
    }

    .w17p {
        width: 17% !important;
    }

    .w16p {
        width: 16% !important;
    }

    .w15p {
        width: 15% !important;
    }

    .w14p {
        width: 14% !important;
    }

    .w13p {
        width: 13% !important;
    }

    .w12p {
        width: 12% !important;
    }

    .w11p {
        width: 11% !important;
    }

    .w10p {
        width: 10% !important;
    }

    .w9p {
        width: 9% !important;
    }

    .w8p {
        width: 8% !important;
    }

    .w7p {
        width: 7% !important;
    }

    .w6p {
        width: 6% !important;
    }

    .w5p {
        width: 5% !important;
    }

    .w4p {
        width: 4% !important;
    }

    .w3p {
        width: 3% !important;
    }

    .w2p {
        width: 2% !important;
    }

    .w1p {
        width: 1% !important;
    }
}
.logo-item{margin-top:10px !important}