.page-content {
    background: #f7f8f8; /* Modified by Ethan.Chen,20150618. 修改顏色值3f4454-->f7f8f8 */
}

/* Added by Ethan.Chen, 20150618 Start. 添加不同色系頁面加載進度條的顏色客制化 */
.pace .pace-progress {
    background: rgba(238,118,36,0.95);
}

.pace .pace-progress-inner {
    box-shadow: 0 0 10px rgba(238,118,36,0.95), 0 0 5px rgba(238,118,36,0.95);
}

.pace .pace-activity {
    border-top-color: rgba(238,118,36,0.95);
    border-left-color: rgba(238,118,36,0.95);
    margin-top: 60px;
}
/* Added by Ethan.Chen, 20150618 End. 添加不同色系頁面加載進度條的顏色客制化 */

/* Added by Ethan.Chen, 20150618 Start. 添加不同色系按鈕的顏色客制化 */
.btn-default {
    background-color: rgba(238,118,36,0.95);
    color: #fff;
    border: 1px solid transparent;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-group.open .btn-default.dropdown-toggle,
    .btn.btn-default.active {
        background-color: rgba(238,118,36,0.95);
        border: 1px solid transparent;
    }
/* Added by Ethan.Chen, 20150618 End. 添加不同色系按鈕的顏色客制化 */

/* Added by Ethan.Chen, 20150618 Start. 添加不同色系Tab的顏色客制化 */
.nav-pills > li.active,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: rgba(238,118,36,0.95);
}
/* Added by Ethan.Chen, 20150618 End. 添加不同色系Tab的顏色客制化 */

/* Added by Ethan.Chen, 20150618 Start. 添加不同色系提醒的顏色客制化 */
.badge-success.badge {
    background: rgba(238,118,36,0.95);
    color: #fff;
}
.badge-green.badge {
    background: rgba(80, 187, 36, 0.95);
    color: #fff;
}

.badge-red.badge {
    background: rgba(215, 33, 8, 0.9);
    color: #fff;
}
/*rgba(215, 33, 8, 0.9)*/
/* Added by Ethan.Chen, 20150618 End. 添加不同色系提醒的顏色客制化 */

/* Added by Ethan.Chen, 20150618 Start. 添加不同色系開關的顏色客制化 */
.switchery {
    background: #dfdfdf;
    border-color: #dfdfdf;
    box-shadow: inset 0 0 0 16px #dfdfdf;
}
.switchery.active {
    background: rgba(238,118,36,0.95);
    border-color: rgba(238,118,36,0.95);
    box-shadow: inset 0 0 0 16px rgba(238,118,36,0.95);
}
/* Added by Ethan.Chen, 20150618 End. 添加不同色系開關的顏色客制化 */

/* -----------------------------------------修改分割線--------------------------------------------- */

.navbar .logo-box {
    /*background: rgba(238,118,36,0.95);*/
}

    .navbar .logo-box a {
        color: #fff;
    }

.sidebar {
    background: #3f4454;
}

.sidebar-header {
    background: #3f4454;
}

.sidebar-profile span small {
    color: #ccc;
}

.menu {
    background: #3f4454;
}

    .menu.accordion-menu a {
        color: #ccc;
    }

    .menu.accordion-menu > li > a:hover {
        background: #363b4a;
        color: #fff;
    }

    .menu.accordion-menu > li.active > a,
    .menu.accordion-menu > li.active.open > a {
        background: #363b4a;
        color: #fff;
    }

    .small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
    .horizontal-bar .accordion-menu > li.droplink:hover > a,
    .menu.accordion-menu ul,
    .menu.accordion-menu li.open > a,
    .hover-menu .accordion-menu > li.droplink:hover > a {
        background: #363b4a;
        color: #fff;
    }

        .menu.accordion-menu ul li a:hover,
        .menu.accordion-menu ul li.active a {
            background: #3f4454;
            color: #fff;
        }

        .menu.accordion-menu ul li a {
            color: #ccc;
        }