@charset "utf-8";
/*-----------------------for both-----------------------*/
html, body, p, article{
	/*font-family:'Roboto',sans-serif;*/
}

/*-----------------------for PC-----------------------*/
@media screen and (min-width:801px) {
#menu li a {
	font-size: 17px;
	margin-left: 20px;
}
#money a {
	/*background-image: url(../images/btnMoneyEn.png);*/
}
article h1 {
	padding:60px 0 60px 30px;
}
/*-------------servicePic--------------------*/
.service li {
	width: 100%;
	float: none;
	margin: 0 0 2% 0;
}
#indexService h3 {
	font-size:17px;
}
}
/*------------------for mobile------------------------*/
@media screen and (max-width:800px) {
}
