@charset "utf-8";
/* CSS Document */
#memberLeft ul li a:hover, #memberLeft ul li.selected a {
    color: #f26529;
}

#memberLeft ul li a.member {
    background-image: url(../images/login.svg);
}

#memberLeft ul li a.heart {
    background-image: url(../images/heart.svg);
}

#memberLeft ul li a.history {
    background-image: url(../images/history.svg);
}

/*-----------------------for PC-----------------------*/
@media screen and (min-width:801px) {
    /*-----------------inquiry sort--------------------*/
    #memberLeft {
        width: 200px;
        float: left;
    }

        #memberLeft h4 {
            display: none;
        }

    #memberRight {
        width: auto;
        margin-left: 200px;
        border-left: 1px solid #e0e0e0;
        padding-left: 30px;
        min-height: 450px;
    }

    #memberLeft ul li a {
        display: block;
        line-height: 35px;
        height: 35px;
        margin-bottom: 12px;
        font-size: 18px;
        color: #333;
        text-decoration: none;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 22px 22px;
        text-indent: 30px;
    }
    /*-----------------------css table----------------------*/
    .css-table {
        display: table;
        width: 100%;
    }

        .css-table .thead {
            display: table-header-group;
        }

        .css-table .tbody {
            display: table-row-group;
        }

        .css-table .tr {
            display: table-row;
        }

            .css-table .tr:nth-child(even) {
                background: #f5f5f5;
            }

        .css-table .th, .css-table .td {
            display: table-cell;
            padding: 6px 10px;
            border-bottom: 1px solid #e0e0e0;
            vertical-align: middle;
        }

        .css-table .th {
            background: #f26529;
            color: #fff;
            border-bottom: none;
        }

        .css-table .center {
            text-align: center;
        }

        .css-table .right {
            text-align: right;
        }

        .css-table .cellNoWrap {
            width: auto;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .css-table .td span {
            display: none;
        }
}

/*------------------for mobile------------------------*/
@media screen and (max-width:800px) {
    h1 em::before {
        content: "- "
    }

    #memberLeft {
        position: relative;
    }

        #memberLeft h4 {
            position: absolute;
            right: 0;
            top: -63px;
            text-indent: -9999px;
            display: block;
            width: 40px;
            height: 40px;
            background-color: #fff;
            background-image: url(../images/more.svg);
            background-size: auto 70%;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50px;
        }

            #memberLeft h4.gray {
                background-color: #eee;
            }

        #memberLeft ul {
            display: none;
            position: absolute;
            right: 0;
            top: -15px;
            border: 1px solid #e0e0e0;
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
            background: #fff;
        }

            #memberLeft ul li a {
                display: block;
                line-height: 40px;
                height: 40px;
                color: #333;
                text-decoration: none;
                background-position: left 10px center;
                background-repeat: no-repeat;
                background-size: 20px 20px;
                border-bottom: 1px solid #e0e0e0;
                padding: 0 15px 0 35px;
            }

            #memberLeft ul li:last-child a {
                border: none;
            }
    /*--------------- css table -----------------*/
    .css-table {
    }

        .css-table .thead {
            display: none;
        }

        .css-table .tr:first-child {
            border-top: 1px solid #e0e0e0;
        }

        .css-table .tr {
            border-bottom: 1px solid #e0e0e0;
            padding: 10px 0;
            display: block;
        }

        .css-table .th {
            border: currentColor;
            width: 100%;
            display: inline-block;
        }

        .css-table .td {
            border: currentColor;
            width: 100%;
            display: inline-block;
        }

        .css-table .number {
            font-size: 19px;
            font-weight: bold;
        }

        .css-table .status:before {
            content: "狀態：";
        }

        .css-table .expo:before {
            content: "展覽：";
        }

        .css-table .type:before {
            content: "類型：";
        }

        .css-table .city:before {
            content: "起運地/目的地：";
        }

        .css-table .btnSmall {
            margin-top: 10px;
        }
}