<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Cache" content="no-cache" />
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="Tracking System - Eurotran">
    <meta name="description" content="">
    <title>Tracking System - Eurotran</title>
    <link rel="shortcut icon" href="../images/favicon.png">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href="../css/track.css" rel="stylesheet" type="text/css">
    <link href="../css/en.css" rel="stylesheet" type="text/css">
    <link href="../css/track_print.css" rel="stylesheet" />
    <link href="../css/jquery.fancybox.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    <div id="headerWrapper">
        <header>
            <h1><a href="../en/index.html">Eurotran</a></h1>
            <ul id="language">
                <li class="cn"><a href="../cn/onlineTrack.html"><span>简</span> <em>简体中文</em></a></li>
                <li class="tw"><a href="../onlineTrack.html"><span>繁</span> <em>繁體中文</em></a></li>
            </ul>
        </header>
    </div>
    <!-- header end -->
    <!-- Menu -->
    <h4 class="openMenu">Menu</h4>
    <div id="menuWrapper">
        <!--Load menubar.js to generate menu-->
    </div>
    <!-- Menu end -->
    <div id="innerTitle" class="addBG">
        <h1 class="indexTitle"><em>Online Services</em> <span>Tracking System</span></h1>
    </div>
    <article>
        <!-- left -->
        <div id="sidebar">
            <div id="left">
                <h4>Menu</h4>
                <ul>
                    <li><a href="onlineTrack.html" style="color:#EC681E">Tracking System</a></li>
                    <li><a href="contact.html?T=O">Online Inquiry</a></li>
                    <li><a href="onlineDownload.html">Exhibition Logistics Forms</a></li>
                </ul>
            </div>
        </div>
        <!-- left end -->
        <!-- right -->
        <div id="right">
        </div>
        <!-- right end -->
        <p class="clear"></p>
    </article>
    <!--------------------- footer --------------------->
    <footer>
        <div id="footer">
            <a href="../en/index.html"><img src="../images/logoFooterEuro.png"></a><a href="https://www.iela.org" target="_blank"><img src="../images/logoFooterIELA.png"></a><a href="https://www.ttclub.com" target="_blank"><img src="../images/logoFooterTT.png"></a><a href="https://afeca.asia" target="_blank"><img src="../images/logoFooterAFECA.png"></a>
            <ul>
                <li>10F., No.455, Chongyang Rd., Nangang Dist., Taipei, Taiwan </li>
                <li>886-2-2785-6000</li>
                <li><a href="mailto:info@eurotran.com">info@eurotran.com</a></li>
            </ul>
            <p><a href="https://www.facebook.com/eurotranexpo/" target="_blank"></a><a href="https://lin.ee/PywKrQc" target="_blank"></a>

        </div>
        <div id="copyright">2018 &copy; EUROTRAN. All Rights Reserved</div>
    </footer>
    <div id="toTop">TOP</div>
    <div id="money" class="NoShowInMobile"><a href="inquiry.html"></a></div>
    <div id="track" class="NoShowInMobile"><a href="onlineTrack.html"></a></div>
</body>
</html>
<script src="../js/jquery-2.2.4.min.js"></script>
<script src="../js/jquery.fancybox.min.js"></script>
<script src="../js/menubar-en.js"></script>
<script src="../js/stickySidebar.js"></script>
<script src="../../Scripts/i18next.min.js"></script>
<script src="../../Scripts/jquery.jqprint-0.3.js"></script>
<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Scripts/jsrender.min.js"></script>
<script src="../../Scripts/jquery.blockUI.js"></script>
<script src="../../Scripts/toastr.min.js"></script>
<script src="../../Scripts/lib/base64.js"></script>
<script src="../../Scripts/lib/Util.js?v=20180801"></script>
<script src="../js/menu.js?v=20180801"></script>
<script src="../js/onlineTrack.js?v=201904031"></script>
<script id="temp_query" type="text/x-jsrender">
    <h2 class="orange">Tracking System</h2>
    <p>&nbsp;</p>
    <form id="form_onlinetrack">
        <p class="formTitle">Tracking No. <span class="red">*</span></p>
        <p>
            <input type="text" id="trackingno" name="trackingno" class="textStyle midText" placeholder="ex.12365897" required />
        </p>
        <p>&nbsp;</p>
        <p class="formTitle">Verification Code <span class="red">*</span></p>
        <p>
            <input type="text" id="validcode" name="validcode" class="textStyle smallText" required />
            <a href="javascript: void(0);" id="change_validcode" class="validcode"><img id="imgvalidcode" src="/Controller.ashx?action=securityimg&flag=cap4&w=200&h=36" width="120" height="36" /></a>
            <a href="javascript: void(0);" class="refresh refreshO change_validcode">Refresh</a>
        </p>
        <p>&nbsp;</p>
        <p>
            <input type="button" class="btn btnMax btnStyle btnquery" value="Send">
        </p>
    </form>
</script>

<script id="temp_queryinfo" type="text/x-jsrender">
    <h2 class="orange bold">INFORMATION</h2>
    <h6><span class="track-line"></span>货件资料</h6>
    <p>&nbsp;</p>
    <ul class="trackInfo">
        <li class="bold">{{:~setSupplierName(SupplierEName,SupplierName)}}</li>
        <li>{{if Exhibitioname_EN}}{{:Exhibitioname_EN}}{{/if}}</li>
    </ul>
    <p>&nbsp;</p>
    <div class="tWarpper">
        <h6></h6>
        <div class="css-table mob-table target">
            <div class="thead">
                {{for Flows}}
                {{if Parent}}
                <div class="tr center">
                    <div class="th nowrap"></div>
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.Number">Q'ty</div>
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.ShipmentPort">Departure</div>
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.Destination">Destination</div>
                    {{if ~root.Type =='IM'}}
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.BillLadNO">B/L No.</div>
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.BillLadNOSub">House Waybill No.</div>
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.ContainerNumber">Container No.</div>
                    {{else}}
                    {{if SitiContactor1}}
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.SitiContactor1">SitiContactor1</div>
                    {{/if}}
                    {{if SitiTelephone1}}
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.SitiTelephone1">SitiTelephone1</div>
                    {{/if}}
                    {{if SitiContactor2}}
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.SitiContactor2">SitiContactor2</div>
                    {{/if}}
                    {{if SitiTelephone2}}
                    <div class="th nowrap" data-i18n="{{:~root.PrgCode}}.SitiTelephone2">SitiTelephone2</div>
                    {{/if}}
                    {{/if}}
                </div>
                {{/if}}
                {{/for}}
            </div>
            <div class="tbody">
                {{for Flows}}
                <div class="tr">
                    <div class="td center" data-i18n="{{:FlowName}}"></div>
                    <div class="td center">{{:Number}} {{if Unit}}{{:Unit}}{{/if}}</div>
                    <div class="td center">{{:ShipmentPort}}</div>
                    <div class="td center">{{:Destination}}</div>
                    {{if ~root.Type =='IM'}}
                    <div class="td center">{{:BillLadNO}}</div>
                    <div class="td center">{{:~setBillLadNOSub(BillLadNOSub)}}</div>
                    <div class="td center">{{:~setBillLadNOSub(ContainerNumber)}}</div>
                    {{else}}
                    {{if SitiContactor1}}
                    <div class="td center">{{:SitiContactor1}}</div>
                    {{/if}}
                    {{if SitiTelephone1}}
                    <div class="td center">{{:SitiTelephone1}}</div>
                    {{/if}}
                    {{if SitiContactor2}}
                    <div class="td center">{{:SitiContactor2}}</div>
                    {{/if}}
                    {{if SitiTelephone2}}
                    <div class="td center">{{:SitiTelephone2}}</div>
                    {{/if}}
                    {{/if}}
                </div>
                {{/for}}
            </div>
        </div>
    </div>
    <p class="trackDivider">&nbsp;</p>

    {{for Flows}}
    <h2 class="orange bold">{{:ShotName}}</h2>
    <h6><span class="track-line"></span><span data-i18n="{{:FlowName}}"></span></h6>
    <p>&nbsp;</p>
    <ul class="progress">
        {{: ~setFlow(Data,#parent.parent.data.PrgCode)}}
    </ul>
    <p>&nbsp;</p>
    <div class="css-table">
        <div class="thead">
            <div class="tr">
                <div class="th nowrap" data-i18n="common.DateTime">Date</div>
                <div class="th nowrap center" data-i18n="common.Status">Status</div>
                <div class="th nowrap center" data-i18n="common.Remark">Remark</div>
            </div>
        </div>
        <div class="tbody">
            {{: ~setInfo(Data,#parent.parent.data.PrgCode)}}
        </div>
    </div>
    <p>&nbsp;</p>
    {{if ~checkFlowName(ShotName)}}
    <p class="align_c">
        {{: ~setBtn(Data,ShotName,SignatureFile)}}
    </p>
    {{/if}}
    <p class="trackDivider">&nbsp;</p>
    {{/for}}
    <p class="align_c">
        <input type="button" value="列印結果" class="btn btnStyle btnprint" data-i18n="common.PrintResult">
        &nbsp;
        <input type="button" value="重新查詢" class="btn btnStyle btnquery-next" data-i18n="common.QueryNextOne">
    </p>
</script>