<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Level 1 -->
    <section name="log4net"

      type="log4net.Config.Log4NetConfigurationSectionHandler, 
            log4net"/>
    <!-- Level 2 -->
  </configSections>


  <log4net>

    <appender name="EasyBL" type="log4net.Appender.RollingFileAppender">
      <file value="logs\EasyBL\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="EasyBL">
      <level value="DEBUG" />
      <appender-ref ref="EasyBL" />
    </logger>

    <appender name="EasyBL.WEBAPP" type="log4net.Appender.RollingFileAppender">
      <file value="logs\EasyBL.WEBAPP\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="EasyBL.WEBAPP">
      <level value="DEBUG" />
      <appender-ref ref="EasyBL.WEBAPP" />
    </logger>


    <appender name="EasyBL.WEBSITE" type="log4net.Appender.RollingFileAppender">
      <file value="logs\EasyBL.WEBSITE\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="EasyBL.WEBSITE">
      <level value="DEBUG" />
      <appender-ref ref="EasyBL.WEBSITE" />
    </logger>


    <appender name="EasyNet" type="log4net.Appender.RollingFileAppender">
      <file value="logs\EasyNet\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="EasyNet">
      <level value="DEBUG" />
      <appender-ref ref="EasyNet" />
    </logger>


    <appender name="Entity" type="log4net.Appender.RollingFileAppender">
      <file value="logs\Entity\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="Entity">
      <level value="DEBUG" />
      <appender-ref ref="Entity" />
    </logger>

    <appender name="EntityBuilder" type="log4net.Appender.RollingFileAppender">
      <file value="logs\EntityBuilder\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="EntityBuilder">
      <level value="DEBUG" />
      <appender-ref ref="EntityBuilder" />
    </logger>


    <appender name="Euro.Transfer" type="log4net.Appender.RollingFileAppender">
      <file value="logs\Euro.Transfer\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="Euro.Transfer">
      <level value="DEBUG" />
      <appender-ref ref="Euro.Transfer" />
    </logger>


    <appender name="SqlSugar" type="log4net.Appender.RollingFileAppender">
      <file value="logs\SqlSugar\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="SqlSugar">
      <level value="DEBUG" />
      <appender-ref ref="SqlSugar" />
    </logger>


    <appender name="WebApp" type="log4net.Appender.RollingFileAppender">
      <file value="logs\WebApp\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="WebApp">
      <level value="DEBUG" />
      <appender-ref ref="WebApp" />
    </logger>


    <appender name="WebSite" type="log4net.Appender.RollingFileAppender">
      <file value="logs\WebSite\" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <param name="ImmediateFlush" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline%newline" />
      </layout>
    </appender>

    <logger name="WebSite">
      <level value="DEBUG" />
      <appender-ref ref="WebSite" />
    </logger>


  </log4net>
</configuration>