<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="owin:AutomaticAppStartup" value="false"></add>-->
    <!-- Mail的編碼格式 預設：UTF-8 -->
    <add key="MailEncoding" value="UTF-8" />
    <!-- 發件人名稱 預設：系統郵件 -->
    <add key="FromName" value="裕倫測試 系統郵件[請勿回覆]" />
    <!-- 發件人地址 預設：ot.syssender@gmail.com -->
    <!--<add key="FromEmail" value="dd24166@outlook.com" />-->
    <add key="FromEmail" value="test@yul.com.tw" />
    <!--<add key="FromEmail" value="Origtek@google.com" />-->
    <!-- 發件人帳號 預設：ot.syssender@gmail.com -->
    <!--<add key="FromUserId" value="dd24166@outlook.com" />-->
    <add key="FromUserId" value="test@yul.com.tw" />
    <!--<add key="FromUserId" value="" />-->
    <!-- 發件人密碼 預設：25153819 -->
    <!--<add key="FromPassword" value="123456zzz" />-->
    <add key="FromPassword" value="sytcrjfymltjwfld" />
    <!-- 郵件服務器地址 預設：smtp.gmail.com -->
    <!--<add key="Server" value="smtp-mail.outlook.com" />-->
    <add key="Server" value="smtp-mail.outlook.com" />
    <!-- 郵件服務器Port 預設：587 -->
    <!--<add key="ServerPort" value="587" />-->
    <!--<add key="ServerPort" value="587" />-->
    <add key="ServerPort" value="587" />
    <!-- 超時(秒) 預設：60 -->
    <add key="Timeout" value="60" />
    <!-- 是否啟用 SSL 認證。true|false 預設：true -->
    <!--<add key="SSL" value="true" />-->
    <add key="SSL" value="true" />
    <!-- 系統預設加密解密密匙Key -->
    <add key="DefaultCryptionKey" value="OTK7950future" />
    <!-- 系統預設加密解密密匙IV -->
    <add key="DefaultCryptionIV" value="394820" />
    <!-- 登陸後有效時間（分鐘） -->
    <add key="ExpireTime" value="240" />
    <!-- API失效時間（秒） -->
    <add key="UrlExpireTime" value="120" />
    <!-- 系統預設顯示樣式 -->
    <add key="DefaultTheme" value="Common" />
    <!-- 連接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 是否進行外網驗證 -->
    <add key="IsCheckNet" value="true" />
    <!--文字檔轉換助手組織ID-->
    <add key="TransferOrgID" value="TE" />
    <!--文字檔轉換助手帳號ID-->
    <add key="TransferUerID" value="EUROTRAN" />
    <!--卡鐘打卡資料路徑-->
    <add key="AttendancePath" value="D:\EIP\" />
    <!--系統設定上班開始時間key值-->
    <add key="WorkTimePMKey" value="WorkTimePM" />
    <!--系統設定上班結束時間key值-->
    <add key="WorkTimeAMKey" value="WorkTimeAM" />
    <!-- 連接字符串 -->
    <!--<add key="ConnectionString" value="server=192.168.1.104;database=EURO;uid=ot;pwd=ot20140507" />-->
    <add key="ConnectionString" value="server=WIN-MQS4PQJ0RSS;database=EURO;uid=euro;pwd=admin123!@#;Max Pool Size=5120;Min Pool Size=5;connect timeout=120;" />
    <!--<add key="ConnectionString" value="server=ALINA-PC\JOHN;database=EURO_Online;uid=sa;pwd=admin123!@#" />-->
    <!-- DSB類型 -->
    <add key="DbType" value="sqlserver" />
    <!-- 文件產出位置 -->
    <add key="OutFilesPath" value="OutFiles/Temporary/" />
    <add key="OrgId" value="TE" />
    <add key="UserId" value="EUROTRANWEB" />
    <add key="PassWd" value="29173894" />  <!---->
    <!--實際後台的授權帳號密碼-->
    <add key="GetApi" value="https://localhost:80/api/Cmd/GetData" />
    <!--<add key="TokenApi" value="https://www.eurotran.com:9001/api/Service/GetToken" />-->
    <!--<add key="TokenApi" value="https://www.origtek.com:8106/api/Service/GetToken" />-->
    <add key="TokenApi" value="http://localhost:80/api/Service/GetToken" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <httpModules />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>