@charset "utf-8";
/* CSS Document */
#inquiryNo dd span.delete, #inquiryNo dd span.add {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 15px;
    background-image: url(../images/delete.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
    cursor: pointer;
}

#inquiryNo dd span.add {
    background-image: url(../images/add.svg);
}

.article h2 {
    border-left: 5px solid #F26529;
    padding-left: 10px;
    color: #F26529
}

.conf-content, .suss-content {
    display: none;
    max-width: 600px;
}

.inuqiryIntro {
}

    .inuqiryIntro li {
        padding: 10px;
        background: #f1f1f1;
        text-align: center;
        border-radius: 5px;
    }

        .inuqiryIntro li.green {
            background: #00AD19;
            color: #fff;
        }
/*-----------------------for PC-----------------------*/
@media screen and (min-width:801px) {
    /*-----------------expoSort--------------------*/

    #expoSort li {
        display: inline-block;
        margin-right: 20px;
    }
    /*-----------------inquiryNo--------------------*/
    #inquiryNo dd {
        padding: 15px;
        border: 1px solid #F26529;
        position: relative;
        border-radius: 5px;
        margin-bottom: 15px;
    }

        #inquiryNo dd:last-child {
            margin-bottom: 0;
        }

        #inquiryNo dd h4 {
            line-height: 39px;
            border: 0 solid #F26529;
            font-weight: normal;
            color: #F26529;
            border-radius: 5px;
        }

    #inquiryNo li .smallText {
        width: 80px;
        padding: 8px;
    }

    #inquiryNo li .size {
        width: 50px;
        padding: 8px;
        text-align: center;
    }

    .inquiryProd li {
        float: left;
        margin-right: 25px;
        line-height: 39px;
    }

    .count {
        background: #f5f5f5;
        padding: 5px 15px;
    }

    li.enTitle {
        width: 100%;
        float: none;
    }

    .timePicker {
        margin-left: 10px;
    }
    /*-----------------inquiry EN--------------------*/
    .inquiryLeft {
        width: 48%;
        float: left;
    }

    .inquiryRight {
        width: 48%;
        float: right;
    }
}

/*------------------for mobile------------------------*/
@media screen and (max-width:800px) {
    .article h2 {
        font-size: 18px;
    }
    /*-----------------expoSort--------------------*/
    #expoSort li {
        margin-bottom: 20px;
    }

        #expoSort li:last-child {
            margin-bottom: 0;
        }

    /*-----------------inquiryNo--------------------*/
    #inquiryNo dd {
        padding: 10px;
        border: 1px solid #F26529;
        position: relative;
        border-radius: 5px;
        margin-bottom: 10px;
    }

        #inquiryNo dd:last-child {
            margin-bottom: 0;
        }

        #inquiryNo dd h4 {
            font-weight: normal;
            color: #F26529;
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 5px;
        }

    #inquiryNo li .smallText {
        width: 80px;
        padding: 8px;
        line-height: 100%;
    }

    #inquiryNo li .size {
        width: 50px;
        padding: 8px;
        text-align: center;
        line-height: 100%;
    }

    .inquiryProd li {
        margin-bottom: 5px;
    }

        .inquiryProd li:last-of-type {
            margin-bottom: 0;
        }

    .count {
        background: #f5f5f5;
        padding: 5px 15px;
    }

    #inquiryNo dd span.delete, #inquiryNo dd span.add {
        right: 10px;
        top: 10px;
    }

    .datepicker {
        width: 150px;
    }
    /*---------inuqiryIntro---------*/
    .inuqiryIntro li {
        padding: 10px;
        background: #f1f1f1;
        text-align: center;
        border-radius: 5px;
    }

        .inuqiryIntro li.green {
            background: #00AD19;
            color: #fff;
        }
}

.info-left {
    float: left;
    width: 50%;
    padding-right: 30px;
}

.info-right {
    float: right;
    width: 50%;
    border-left: 1px solid #e0e0e0;
    padding-left: 30px;
}

    .info-left h4, .info-right h4 {
        background: #f26529;
        padding: 6px 0;
        color: #fff;
        text-align: center;
        font-weight: normal;
        border-radius: 5px;
        font-size: 27px;
    }

@media screen and (max-width:800px) {
    .info-left {
        width: 100%;
        padding-right: 0px;
    }

    .info-right {
        width: 100%;
        border-left: 1px solid #e0e0e0;
        padding-left: 0px;
    }

    .inquiryLeft {
        margin-bottom: 20px;
    }
}