body {
}

#LocSort a {
    font-size: 20px;
}

.layer-one ul li {
    float: left;
    padding: 5px 15px 5px 0px;
}

    .layer-one ul li a:hover {
        background-color: red !important;
        color: white !important;
    }

.page-menu {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 20px 0;
}

.folderType > a {
    cursor: auto;
}

    .folderType > a:before {
        background: url(../../images/layout_icon.png) no-repeat;
    }
/* li自动换行 Star*/
/*模組方塊事件及顏色*/
#layout ul {
    list-style: none;
}

#layout li {
    float: left;
    margin: 10px 8px;
    text-align: center;
    width: 9%;
    height: 120px;
    min-width: 100px;
}

    #layout li:hover {
        outline: solid 2px #999 !important;
        cursor: pointer;
    }

#layout a, #layout a:hover, #layout a:active {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color:white;
    letter-spacing: 5px;
    position: relative;
    top: 25px;
    width: 50px;
    word-wrap: break-word;
    word-break: normal;
}

.skin {
    width: auto;
    height: auto;
    border: 0 solid gray;
    position: absolute;
}

#layout .layout-icon {
    background: url(../../images/layout_icon.png) no-repeat;
    position: relative;
    top: 10px;
    left: 10px;
    width: 33px;
    height: 26px;
}

#layout .layout-folder {
    background-position: 0 0px;
}

#layout .layout-settings {
    background-position: 0 -29px;
}

#layout .layout-staff {
    background-position: 0 -58px;
}

#layout .layout-notes {
    background-position: 0 -87px;
}

#layout .layout-setting2 {
    background-position: 0 -116px;
}

#layout .layout-back {
    background: url(../../images/icon02.png) no-repeat;
    background-position: 0 -28px;
}

.searchbar {
    height: 40px;
    top: -20px !important;
    float: left;
}

.topmodlist {
    position: relative;
    padding-left: 30px !important;
}