@charset "utf-8";
/* CSS Document */
.page-content {
    position: relative;
}

.page-header-fixed .navbar {
    border-top: 10px solid #ee7624;
    box-shadow: none;
}

.top-menu .navbar-nav > li > a {
    padding: 15px 18px 16px;
}

.top-menu .navbar-nav.navbar-right > li > a {
    border-left: 1px solid #f5f5f5;
    height: 60px;
}

    .top-menu .navbar-nav.navbar-right > li > a .user-name {
        padding: 0 0 0 5px;
        font-size: 15px;
        color: #2d2d2d;
        line-height: 20px;
    }

    .top-menu .navbar-nav.navbar-right > li > a .m-r-xs {
        font-size: 15px;
        color: #2d2d2d;
        line-height: 20px;
        margin-right: 5px;
    }

.page-horizontal-bar.page-header-fixed .horizontal-bar {
    padding-top: 74px;
}

.sidebar {
    background: #FFF;
}

.top-menu .navbar-nav > li > a > .user-name > i.icon-clock {
    margin: 0px 3px 0 5px;
    position: relative;
    display: inline-block;
    top: 1px;
    font-size: 12px;
}

.top-menu .navbar-nav > li > a > .user-name > i.fa-angle-down {
    margin-left: 3px;
}

#imgUser {
    border-radius: 5px;
    /*-webkit-filter: grayscale(0.8);*/
    width: 40px;
    height: 40px;
}

.page-horizontal-bar.page-sidebar-fixed.page-header-fixed.compact-menu .page-inner {
    padding: 120px 0 0 0;
}

.top-menu .navbar-nav > li > a > i {
    font-size: 17px;
    color: #2d2d2d;
    line-height: 20px;
}

#tabpanel {
    background: #ffffff !important;
    border-top: 1px solid #f5f5f5;
}

.nav-pills > li.active, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: rgba(238,118,36,0.95);
}

#ltrtime {
    font-size: 13px;
    color: #5f5f5f;
    top: 1px;
    left: 5px;
    position: relative;
}

#spUser span {
    font-size: 13px;
    color: #5f5f5f;
    margin-right: 2px;
}

.tab-container {
    background: #2BA6CB;
    margin: 0;
    padding: 0;
    max-height: 35px;
}

ul.tabs {
    margin: 0;
    list-style-type: none;
    line-height: 35px;
    max-height: 35px;
    overflow: hidden;
    display: inline-block;
    padding-right: 20px;
    margin-top: 18px;
}

    ul.tabs > li:hover {
        background: #efefef;
    }

    ul.tabs > li.active {
        z-index: 2;
        background: #f7f8f8;
    }

        ul.tabs > li.active:before {
            border-color: transparent #efefef transparent transparent;
        }

        ul.tabs > li.active:after {
            border-color: transparent transparent transparent #efefef;
        }

    ul.tabs > li {
        float: left;
        margin: 5px -10px 0;
        border-top-right-radius: 25px 170px;
        border-top-left-radius: 20px 90px;
        padding: 0 50px 0 45px;
        height: 170px;
        background: #ddd;
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,.5);
        /*max-width: 200px;*/
    }

        ul.tabs > li > a {
            display: inline-block;
            /*max-width:100%;*/
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            color: #222;
        }
        /*ul.tabs > li:before, ul.tabs > li:after{
  content : '';
  background : transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 10px;
  top: 0px;
  border-style : solid;
}*/

        ul.tabs > li:before {
            border-color: transparent #ddd transparent transparent;
            -webkit-transform: rotate(48deg);
            left: -23px;
        }

        ul.tabs > li:after {
            border-color: transparent transparent transparent #ddd;
            -webkit-transform: rotate(-48deg);
            right: -17px;
        }
/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.tabs li .fa-times-circle {
    margin-right: 7px;
    color: #c3c3c3;
}

.tabs li .fa-refresh {
    margin-left: 4px;
    color: #00387b;
    display: none;
}

ul.tabs > li.active a .fa-refresh {
    display: inline-block;
}

ul.tabs > li a .fa-times-circle:hover {
    color: #de3232;
}

.panel-white {
    box-shadow: none;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 10px 10px 5px;
    background: transparent;
    color: #ddd;
    font-size: 15px;
    border: none;
    line-height: 1.5;
}

.btn-default:active, .btn-default.active, .btn-group.open .btn-default.dropdown-toggle, .btn.btn-default.active, .btn.btn-default:active {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #ee7624;
}

.btn-group > .btn:first-child {
    margin-right: 10px;
}

.md-button {
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}

.bread-crumbs {
    display: inline-block;
    margin-top: 30px;
    float: right;
    margin-right: -10px;
}

.ng-scope {
    width: auto;
    display: inline-block;
}

.content {
    padding: 10px 40px 60px 40px;
    position: relative;
}

.title {
    margin-bottom: 30px;
}

    .title h2 {
        font-size: 30px;
        color: #ec681e;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 7px;
        margin-top: 10px;
        font-family: '微軟正黑體';
    }

    .title h5 {
        color: #bdbdbd;
        font-size: 12px;
        padding-left: 63px;
        position: relative;
        margin-top: 0;
        font-weight: 400;
    }

        .title h5:before {
            display: block;
            position: absolute;
            height: 1px;
            background: currentColor;
            width: 60px;
            top: 50%;
            -ms-transform-origin: left;
            content: '';
            z-index: 1;
            left: 0;
        }

.c__item01 {
    flex-grow: 1;
    background: #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: .2s all;
    cursor: pointer;
    padding: 2em;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*height: 300px;*/
    width: 100%;
}

    .c__item01:hover {
        flex-grow: 2;
        box-shadow: inset 0 0 0 100vmax rgba(0, 56, 123, 0.7);
        color: #FFF;
    }

.c__item01 {
    text-transform: uppercase;
    letter-spacing: .075em;
    color: #fff;
    transition: .2s all;
}

.c__title {
    text-align: center;
}

    .c__title span {
        display: block;
        font-size: 16px;
        margin-top: 14px;
        letter-spacing: 5px;
    }

.sys-title-name span {
    font-size: 26px;
}

.workload-item .c__title {
    font-size: 16px;
    font-weight: normal;
    font-family: '微軟正黑體';
    margin: 12px 0 0;
}

    .workload-item .c__title span {
        /*font-size: 12px;*/
        letter-spacing: 3px;
        width: 80%;
        height: 2.6em;
        margin: 8px auto 0;
        text-transform: uppercase;
        font-weight: lighter;
        line-height: 1.3;
        transform: scale(0.9);
    }

.workload-item {
    margin-right: -1px;
    margin-left: -1px;
}

    .workload-item > div {
        padding: 2px 1px;
    }

.item-w {
    background-color: rgba(238, 118, 36, 0.85);
    background-image: url(../images/bk01.png);
    color: #FFF;
    padding: 30px 5%;
    text-align: center;
    border: solid 8px #ee7624;
    transition: .2s all;
    cursor: pointer;
}

    .item-w:hover {
        background-color: #ec681e;
    }

    .item-w img {
        width: 60px;
        opacity: 0.8;
    }

    .item-w:hover img {
        opacity: 1;
    }

.footer-copyright {
    text-align: center;
    padding: 30px 0 10px;
    margin: 0 0 20px 0;
    color: #9c9c9c;
    font-style: italic;
    font-size: 12px;
    position: absolute;
    font-family: Arial;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}