<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StartDate" value="2019-12-17 00:00:00"/>
    <add key="EndDate" value="2019-12-17 00:00:00"/>
    <add key="ConnectionString" value="server=192.168.1.104;database=EURO_TRUNK;uid=euro;pwd=admin123!@#;Max Pool Size=5120;Min Pool Size=5;connect timeout=20;" />
    <add key="Export" value ="false" />
    <add key="ExportReturn" value ="false" />
    <add key="Import" value ="false" />
    <add key="ImportReturn" value ="false" />
    <add key="Other" value ="false" />
    <add key="OtherTG" value ="true" />
    <add key="Exhibtion" value ="false" />
    <add key="Customer" value ="false" />
    <add key="BillsNo" value=""  />
    <add key="ExhibtionsNo" value=""  />
    <add key="CustomersNo" value=""  />
  </appSettings>
</configuration>