<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="content-language" content="zh-TW">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="線上預約服務 - G-Yi 駒驛物流">
    <meta name="description" content="">
    <title>線上詢價 - G-Yi 駒驛物流</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link href="../../Scripts/3rd/fancybox/fancybox-3/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="../../Scripts/3rd/select2/css/select2.min.css" rel="stylesheet" />
    <link href="../../Content/toastr.min.css" rel="stylesheet" />
    <link href="../css/main.css?v=20180730" rel="stylesheet">
    <link href="../css/inquiry.css" rel="stylesheet">
    <style>
        .select2-container, .select2-selection--single, .select2-selection__rendered, .select2-selection__arrow {
            height: 40px !important;
        }

        .select2-container, .select2-selection__rendered {
            min-width: 70px;
        }

        .select2-selection__placeholder, .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 40px;
        }

        .isDisabled {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;
            pointer-events: none;
            display: inline-block; /* For IE11/ MS Edge bug */
        }
    </style>
</head>
<body>
    <!-- header -->
    <header>
        <div id="headerWrapper">
            <h1><a href="index.html">駒驛</a></h1>
            <ul id="language">
                <!--<li class="cn"><a href="#">简</a></li>-->
                <li class="en"><a href="inquiry_en.html">EN</a></li>
            </ul>
            <h4>Menu</h4>
            <ul id="menu">
                <li id="index"><a href="index.html">首頁</a></li>
                <li id="about"><a href="about.html">關於駒驛</a></li>
                <li id="service"><a href="service.html">服務項目</a></li>
                <li id="inquiry"><a href="inquiry.html">線上詢價</a></li>
                <li id="contact"><a href="contact.html">聯絡駒驛</a></li>
                <li id="download"><a href="download.html">資料下載</a></li>
            </ul>
        </div>
    </header>
    <!-- header end -->
    <!--------------------- article --------------------->
    <div class="article">
        <h1 class="addBG">線上詢價 <span>| Online Inquiry |</span></h1>
        <p>&nbsp;</p>
        <h3 class="bold">
            *僅限「展場服務」詢價，如想了解運費及其他服務報價，<a href="contact.html">請與我們聯繫</a> ，感謝您的合作！
        </h3>
        <p>&nbsp;</p>
        <h2>參加展覽</h2>
        <p>&nbsp;</p>
        <ul id="expoSort">
            <li>
                <p class="formTitle">地區</p>
                <select class="textStyle expo-search" id="area">
                    <option value="">請選擇地區</option>
                </select>
            </li>
            <li>
                <p class="formTitle">展期</p>
                <select class="textStyle expo-search" id="year">
                    <option value="">選擇年份</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
                <select class="textStyle expo-search" id="month">
                    <option value="">選擇月份</option>
                    <option value="01-03">01-03</option>
                    <option value="04-06">04-06</option>
                    <option value="07-09">07-09</option>
                    <option value="10-12">10-12</option>
                </select>
            </li>
            <li>
                <p class="formTitle">展覽</p>
                <select class="textStyle maxText" id="expo">
                    <option>請選擇展覽</option>
                    <option>2018 展昭高雄寵物用品展-搶先場</option>
                    <option>2018台北國際酒展‧純酒展</option>
                    <option>2018台灣蔬食‧自然產品展</option>
                </select>
            </li>
        </ul>
        <p>&nbsp;</p>
        <h2>預估費用查詢</h2>
        <p>&nbsp;</p>
        <!--------------------- inquiryNo --------------------->
        <form id="form_inquiry">
            <dl id="inquiryNo">
                <dd>
                    <h4 class="orange">新增一項展品</h4>
                    <span class="add"></span>
                </dd>
            </dl>
            <input type="hidden" name="Total" />
        </form>
        <!--------------------- inquiryNo end --------------------->
        <p>&nbsp;</p>
        <!--------------------- SUM --------------------->
        <h3 class="align_r">費用總計：新台幣 <span class="red totaltext">0</span> 元 (含稅)</h3>
        <p>&nbsp;</p>
        <p class="align_r">
            <a href="javascript:void(0);" id="inquiryIntro">使用說明</a> &nbsp;
            <a href="javascript:void(0);" id="goappoint" class="btn btnStyle">線上預約服務</a>
        </p>
        <p>&nbsp;</p>
        <div id="CostInstruction">
        </div>
    </div>
    <!--------------------- article end --------------------->
    <!--------------------- footer --------------------->
    <footer>
        <div id="footer">
            <img src="../images/logoFooter.png">
            <ul>
                <li>台北市南港區重陽路457號10樓</li>
                <li>02-2785-7900</li>
                <li><a href="mailto:info@g-yi.com">info@g-yi.com</a></li>
            </ul>
            <p>Copyright &copy; 駒驛物流</p>
        </div>
    </footer>
    <div id="toTop">TOP</div>
    <div id="money" class="NoShowInMobile"><a href="inquiry.html"></a></div>
    <!--------------------- footer end --------------------->
    <script id="temp_costdoc" type="text/x-jsrender">
        <h2>費用說明 </h2>
        <p>&nbsp;</p>
        <h4>1. 堆高機機動服務</h4>
        <p>&nbsp;</p>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableDisplay">
            <tbody>
                <tr>
                    <th>重量</th>
                    <th>價格(新台幣，含稅) </th>
                </tr>
                {{for CostRules}}
                <tr>
                    <td align="center">{{if Weight_Min!=0}}{{:Weight_Min}}噸以上至 {{/if}}{{:Weight_Max}}噸以下</td>
                    <td align="center">{{:~setMoney(Price)}} 元/{{if PricingMode=="T"}}每噸{{else}}每件{{/if}}</td>
                </tr>
                {{/for}}
            </tbody>
        </table>
        <p>&nbsp;</p>
        <ol class="dot">
            <li>含進場時自卡車卸下並搬運至攤位一次性定位，及退場時自攤位搬上卡車。</li>
            <li>展品定位完成後，如須再次移動或配合組裝，其價格請參閱備註。</li>
            <li>其他噸數，或需吊車吊掛之貨物，以及拆裝貨櫃等費用請來電另議。</li>
        </ol>
        <p>&nbsp;</p>
        <h4>2. 拆箱服務 (裝箱服務同價) </h4>  
        <p>&nbsp;</p>
        <p>
            {{:CurrencyName}}{{:~setMoney(PackingPrice)}}元/立方米
            {{if HasPackingRequiredMinCBM }}(最低按 {{:PackingRequiredMinCBM}} 立方米計算){{/if}}{{:PackingMinCBMModeText}}(含稅)
        </p>
        <p>&nbsp;</p>
        <h4>3.空箱收送與儲存 (進退場+展覽期間)</h4>
        <p>&nbsp;</p>
        <p>
            {{:CurrencyName}}{{:~setMoney(FeedingPrice)}}元/立方米
            {{if HasFeedingRequiredMinCBM }}(最低按 {{:FeedingRequiredMinCBM}} 立方米計算){{/if}}{{:FeedingMinCBMModeText}}(含稅)
        </p>
        <p>&nbsp;</p>
        <div>
            {{:CostInstruction}}
        </div>
        <!--<p>&nbsp;</p>
        <h3><strong>服務說明</strong></h3>
        <p>&nbsp;</p>
        <div>
            {{:ServiceInstruction}}
        </div>-->
        <p>&nbsp;</p>
        {{if Files.length>0 }}
        <h3><strong>展品搬運服務需求委運書下載</strong></h3>
        <p>&nbsp;</p>
        <ul class="download">
            {{for Files}}
            <li><a href="javascript:void(0);" filename="{{:~getFileName(FileName)}}" filepath="{{:FilePath}}">{{:~getFileName(FileName)}}</a></li>
            {{/for}}
        </ul>
        {{/if}}
    </script>

    <script id="temp_costinfo" type="text/x-jsrender">
        <dd id="PackingInfo{{:Index}}">
            <ul class="inquiryProd">
                <li>
                    <h4>展品資訊</h4>
                </li>
                <li>
                    包裝：
                    <select class="smallText textStyle expotype" name="PackingInfo{{:Index}}[ExpoType]">
                        <option value="01">裸機</option>
                        <option value="02">木箱</option>
                        <option value="03">散貨</option>
                        <option value="04">打板</option>
                        <option value="05">其他</option>
                    </select>
                </li>
                <li>
                    尺寸：
                    <input type="text" name="PackingInfo{{:Index}}[ExpoLen]" class="textStyle smallText inputnumber" data-type="money" data-name="int" placeholder="長" value="{{:ExpoLen}}" />
                    <input type="text" name="PackingInfo{{:Index}}[ExpoWidth]" class="textStyle smallText inputnumber" data-type="money" data-name="int" placeholder="寬" value="{{:ExpoWidth}}" />
                    <input type="text" name="PackingInfo{{:Index}}[ExpoHeight]" class="textStyle smallText inputnumber" data-type="money" data-name="int" placeholder="高" value="{{:ExpoHeight}}" />
                    CM
                </li>
                <li>
                    重量：
                    <input type="text" class="textStyle smallText inputnumber" data-type="money" data-name="int" name="PackingInfo{{:Index}}[ExpoWeight]" placeholder="重量" value="{{:ExpoWeight}}" />
                    KG
                </li>
                <li>
                    件數：
                    <input type="number" min="0" class="textStyle smallText" name="PackingInfo{{:Index}}[ExpoNumber]" placeholder="件數" value="{{:ExpoNumber}}" />
                </li>
                <p class="clear"></p>
            </ul>
            <p class="divider">&nbsp;</p>
            <p class="count align_r">小計：<span class="subtext">{{:~setSubtext(SubText)}}</span></p>
            <p class="divider">&nbsp;</p>
            <input type="hidden" name="PackingInfo{{:Index}}[SubTotalNumber]" value="{{:SubTotalNumber}}" />
            <input type="hidden" name="PackingInfo{{:Index}}[TotalCBM]" value="{{:TotalCBM}}" />
            <input type="hidden" name="PackingInfo{{:Index}}[TotalWeight]" value="{{:TotalWeight}}" />
            <ul class="inquiryProd">
                <li>
                    <h4>服務需求</h4>
                </li>
                <li>
                    <input type="checkbox" class="largeItem" id="ExpoStack{{:Index}}" name="PackingInfo{{:Index}}[ExpoStack]" {{:~setCheck(ExpoStack)}}>
                    <label for="ExpoStack{{:Index}}">堆高機</label>
                </li>

                <li>
                    <input type="checkbox" class="largeItem packing" id="ExpoSplit{{:Index}}" name="PackingInfo{{:Index}}[ExpoSplit]" {{:~setCheck(ExpoSplit)}}>
                    <label for="ExpoSplit{{:Index}}">拆箱</label>
                </li>
                <li>
                    <input type="checkbox" class="largeItem packing" id="ExpoPack{{:Index}}" name="PackingInfo{{:Index}}[ExpoPack]" {{:~setCheck(ExpoPack)}}>
                    <label for="ExpoPack{{:Index}}">裝箱</label>
                </li>
                <li>
                    <input type="checkbox" class="largeItem single-packing" id="ExpoFeed{{:Index}}" name="PackingInfo{{:Index}}[ExpoFeed]" {{:~setCheck(ExpoFeed)}}>
                    <label for="ExpoFeed{{:Index}}">空箱收送與儲存(進退場+展覽期間)</label>
                </li>
                <p class="clear"></p>
            </ul>
            <p class="divider">&nbsp;</p>
            <p class="count align_r">預估費用(含稅)：<span class="subtotal">{{:~setMoney(SubTotal,true)}}</span></p>

            <span class="hidden ExpoSplitkFee">{{:~ExpoSplitkFee}}</span>
            <span class="hidden ExpoPackFee">{{:~ExpoPackFee}}</span>
            <span class="hidden ExpoFeedFee">{{:~ExpoFeedFee}}</span>
            <!--<div name="PackingInfo{{:Index}}[ExpoSplitkFee]" class="hidden textStyle smallText inputnumber ExpoSplitkFee" data-type="money" data-name="int" value="{{:ExpoSplitkFee}}" />
            <div name="PackingInfo{{:Index}}[ExpoPackFee]" class="hidden textStyle smallText inputnumber ExpoSplitkFee" data-type="money" data-name="int" value="{{:ExpoPackFee}}" />
            <div name="PackingInfo{{:Index}}[ExpoFeedFee]" class="hidden textStyle smallText inputnumber ExpoSplitkFee" data-type="money" data-name="int" value="{{:ExpoFeedFee}}" />-->
            <span class="delete"></span>
            <input type="hidden" class="subtotalval" name="PackingInfo{{:Index}}[SubTotal]" value="{{:SubTotal}}" />
        </dd>
    </script>
</body>
</html>
<script src="../../Scripts/jquery-1.11.3.min.js"></script>
<script src="../../Scripts/i18next.min.js"></script>
<script src="../../Scripts/jquery.indexeddb.min.js"></script>
<script src="../../Scripts/3rd/fancybox/fancybox-3/jquery.fancybox.min.js"></script>
<script src="../../Scripts/3rd/select2/js/select2.min.js"></script>
<script src="../../Scripts/format-number.min.js"></script>
<script src="../../Scripts/toastr.min.js"></script>
<script src="../../Scripts/jquery.serialize-object.js"></script>
<script src="../../Scripts/jsrender.min.js"></script>
<script src="../../Scripts/jquery.blockUI.js"></script>
<script src="../../Scripts/lib/base64.js"></script>
<script src="../../Scripts/lib/Util.min.js?v=20180730"></script>
<script src="../js/menu.js?v=20180730"></script>
<script src="../js/inquiry.js?v=20190131"></script>
<!--Global site tag(gtag.js) - Google Analytics-->
<script>
    if ('www.g-yi.com'.indexOf(window.location.hostname) > -1) {
        document.write('<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120713824-1"><\x2Fscript><script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag() { dataLayer.push(arguments); } gtag("js", new Date()); gtag("config", "UA-120713824-1");<\x2Fscript>');
    }
</script>