@media only screen and (max-width: 1367px) {
.about-info{width:30%}
.banner .banner-text{width:36%}
}
@media (max-width: 1199px){
.container2 {
    width: 970px;
}
@media only screen and (max-width: 1025px) {
.container2,.detail-page .container2{width:970px}
.about-info-box{padding:30% 20px 15px}
.about-info{width:33%}
.slider-img-box{width:65%}
.slider-box .title h2{white-space:nowrap}
.slider-info{width:34%}
.service-t{width:calc(100% - 80px)}
.popup-page .popup-title{bottom:20%}
.popup-detail{background-position:left center;background-size:auto 70%}
.modal.in .modal-dialog{width:75%!important}
.service.en .service-item{ height: 144px}
}
@media (max-width: 997px) {
section{padding:50px 0}
.detail-page .container2,.container,.container2{width:850px}
.aboout-img{float:left;width:100%}
.about-info{position:relative;width:90%;max-width:620px;margin:-60px auto 0;transform:translateX(-50%);top:auto;left:50%}
.about-info-box{padding:50px 20px 15px 50px}
.competitiveness .case-item-12{width:33.33%;padding-right:10px;padding-left:10px}
.competitiveness{padding:30px 0}
.slider-box .title h2{white-space:normal;font-size:30px}
.contact-info .contact-info-item{width:33.333%;display:inline-block}
.contact-info .contact-info-head{ width:100%}
.contact-info{margin-bottom:30px}
.gotop{bottom:5%!important}
.contact-form{text-align:center}
footer .col-xs-12{width:50%}
}
@media (max-width: 845px) {
.csslider1{display:none}
.container,.container2,.detail-page .container2{width:750px}
.server-item .col-sm-6{width:90%}
.banner{height:70vh;background:url(../img/banner-m2.jpg);background-position:center;background-size:cover}
.banner .banner-cover{display:none}
.detail-page .banner{height:34vh}
.detail-page .banner-cover{display:block}
.detail-page .banner .banner-cover{left:-45%;right:100%}
.detail-page .newsd-bg .banner-cover{right:-45%;left:auto;mix-blend-mode:initial}
.news-detail{margin-top:-1px}
.banner .banner-cover{right:-25%}
.banner .banner-text{width:90%;max-width:521px;top:auto;bottom:16%}
section.news-list,section.news-detail,section.download{background:none}
.competitiveness h3{font-size:16px}
.title h2{font-size:34px}
.slider-img-box{width:100%;margin-bottom:15px}
.controls a{text-shadow:2px 2px 4px #000;color:#e8e8e8}
.slider-info{width:100%}
.title{margin-bottom:35px}
.competitiveness .row{margin-right:-10px;margin-left:-10px}
.moduletable .item{width:calc(25%- 16px)!important;padding-right:7px;padding-left:7px;margin-right:0;text-align:center}
.item_content h4{text-align:center}
.counter-item{text-align:center}
.year .counter{font-size:42px}
.service .service-item{padding:25px 30px}
.navbar-right{text-align:right}
.modal.in .modal-dialog{width:90%!important;margin:20px auto}
.detail-page .download-bg{background:url(../img/banner-doewnload-m.jpg) no-repeat center center;background-size:cover}
.detail-page .news-bg{background:url(../img/banner-news-m.jpg) no-repeat center center;background-size:cover}
.detail-page .newsd-bg{background:url(../img/banner-newsd-m.jpg) no-repeat center center;background-size:cover}
.banner-hack{display:none!important}
section.news-list,section.news-detail,section.download{background:#FFF}
.outside {margin-top: 0px;}
.news-list .about-nav a {display: inline-block;max-width: 140px;white-space: nowrap;}
.en-20170411{ width: 85%}
}
@media (max-width: 767px) {
.service.en .service-item { height: auto;}
.nav>.nav-hidden{display:block}
.nav>.social-nav-m{width:50%;float:left;text-align:center;border-bottom:none;    border-bottom: none; /*border-top: 1px solid #1f5eb1;*/}
.nav>.social-nav-m:nth-child(1){border-color:#3b579d}
.nav>.social-nav-m:nth-child(2){border-color:#42ad48}
.social-nav-m .color-facebook,.navbar-nav .social-nav-m .color-facebook:hover{background:#3B579D}
.social-nav-m .color-wechat,.navbar-nav .social-nav-m .color-wechat:hover{background:#42ad48}
.nav>.social-nav-m img{height:22px}
.container,.container2,.detail-page .container2{width:100%;padding-right:15px;padding-left:15px}
.navbar-nav>li{width:100%;text-align:left;border-left:none;border-right:none;border-bottom:1px solid #d05c1b;border-top:1px solid #f58b4f}
.navbar-nav>li>a{padding:12px}
.navbar-default .navbar-nav>li.color-blue>a{background: #103a71;}
.navbar-default .navbar-nav>li.color-blue{ border-bottom: 1px solid #0a2548; border-top: 1px solid #1f5eb1;}
.navbar-default .navbar-nav>.color-blue1{border-right: 1px solid #1f5eb1;}
.navbar-default .navbar-nav>.color-blue2{border-left: 1px solid #0a2548;}
.navbar-default .navbar-nav>li.color-blue img{ margin-right:5px}
.navbar-brand-m{display:block;padding:10px 15px;height:48px}
.navbar-brand>img{max-height:30px}
.navbar-nav{width:100%;border-left:none;border-right:none;margin:0}
.main-nav{background-color:#FFF}
.navbar-default .navbar-collapse{border:none;max-height:500px;background:#ee7624;padding:0}
.navtop,.social-nav{display:none}
.banner{margin-top:80px}
.banner-cover{display:none}
header .navtop-m{display:block;background:#00387b;background:-moz-linear-gradient(left,#00387b 0%,#004696 30%,#005596 50%,#004696 70%,#004696 100%,#00387b 100%);background:-webkit-linear-gradient(left,#00387b 0%,#004696 30%,#005596 50%,#004696 70%,#004696 100%,#00387b 100%);background:linear-gradient(to right,#00387b 0%,#004696 30%,#005596 50%,#004696 70%,#004696 100%,#00387b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00387b',endColorstr='#00387b',GradientType=1);
background: #ed6d17; /* Old browsers */
background: -moz-linear-gradient(left, #ed6d17 0%, #ee7624 10%, #e89625 50%, #ee7624 90%, #ed6d17 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ed6d17 0%,#ee7624 10%,#e89625 50%,#ee7624 90%,#ed6d17 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ed6d17 0%,#ee7624 10%,#e89625 50%,#ee7624 90%,#ed6d17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6d17', endColorstr='#ed6d17',GradientType=1 );}
.navtop-m{padding:7px 0}
.navtop-m .navbar-right{padding:0}
.navtop-m .navbar-right a{color:#fff;font-size:12px;line-height:16px;height:16px}
.navtop-m .navbar-right a:hover{background:none}
.navtop-m .navbar-right li{border-right:1px dotted rgba(255,255,255,0.5);height:16px}
.navbar-toggle,.navbar-default,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#103a71; border-radius:0}
.navbar-default .navbar-toggle{border:none}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.navtop-m .navbar-right li:last-child{margin-right:0;border:none;padding:0}
.banner .banner-text{width:80%;right:5%;top:auto;bottom:16%;max-width:512px;transform:translateY(0%);-webkit-transform:translateY(0%)}
.competitiveness h3{font-size:15px}
.banner{background-position:center}
.intro{padding:15px 10px}
.snip1302{max-height:150px}
.server-item .col-sm-6{width:100%}
.service-bg{width:20%;margin-right:0}
.service-t{width:80%;padding-left:20px}
.form-group:nth-child(1){padding-right:15px}
.form-group:nth-child(2){padding-left:15px}
#item_79,#item_80,#item_81,#item_140{width:23%;padding-right:0;padding-left:0}
#item_140{width:26%}
.about svg{display:none}
.about .container .row{border:solid #ec681e;margin:30px 15px;padding:20px}
.aboout-img{padding:0}
.about-info-box{padding:20px 0 0;background:none}
.about-info-box:hover,.slider-box:hover{box-shadow:none}
.about-info{margin:0 auto}
.detail-page .news-bg{background:url(../img/banner-news-m.jpg) no-repeat center center;background-size:cover}
.detail-page .about-nav{float:none;width:100%;margin-bottom:30px;text-align:center}
.news-list .detail-title{float:left;margin-bottom:10px}
.popup-detail{background:#FFF}
.glyphicon-chevron-left:before,.glyphicon-chevron-right:before{top:98%;top:calc(100% - 20px)}
.popup-page .ng-scope span span {display: inline-block; padding: 0; margin: 0;}
@media (max-width: 720px) {
.contact-info .contact-info-item {width: 50%;}
.contact-info .contact-info-head {width: 100%;}
}
@media (max-width: 640px) {
.detail-page .newsd-bg .banner-cover{right:-58%}
.gotop{display:none!important}
h5{font-size:13px}
/*.contact-info .contact-info-item:last-child{width:50%}*/
.news-detail h2{font-size:24px;margin-bottom:3px;margin-top:5px}
.breadcrumbnav{margin-top:5px;float:none}
.detail-page .about-nav a{display:inline-block;width:calc(50% - 4px);margin:0;float:left;margin:2px;padding:5px 0}
}
@media (max-width: 540px) {
h3{font-size:16px}
h4{font-size:15px}
p{font-size:13px}
.title h2{font-size:30px}
.year .counter{font-size:38px}
.counter-item{font-size:16px}
.about-info{width:100%;margin:0 auto}
.more{margin-top:5px}
.about-info-box{padding:50px 30px 30px;float:right}
.title{margin-bottom:25px}
.snip1302{max-height:200px}
.case-item{margin-bottom:20px;box-shadow:6px 0 15px 0 rgba(32,47,57,0.2);margin-bottom:20px;border-radius:6px;overflow:hidden}
section{padding:30px 0}
.slider-img-box{margin-bottom:20px}
#item_79,#item_80,#item_81,#item_140{width:49%;padding-bottom:15px;border-bottom:1px dashed rgba(255,255,255,0.5)}
#item_80,#item_140{border-right:hidden}
#item_81,#item_140{padding-bottom:10px;padding-top:10px;border-bottom:hidden}
.year{padding:60px 0}
.contact-info .contact-info-item{width:50%}
.about svg{display:none}
.about .container .row{border:solid #ec681e;margin:0px;padding:20px}
.aboout-img{padding:0}
.about-info-box{padding:20px 0 0}
.about-info-box:hover,.slider-box:hover{box-shadow:none}
.competitiveness{/*border:solid #ec681e;*/margin:30px 15px 0;padding:20px}
.competitiveness .title{margin-bottom:20px 20px 0}
.competitiveness > .container{padding:0}
.competitiveness .case-item-12{width:100%;padding-right:10px;padding-left:10px}
.case-item:hover .intro{box-shadow:none}
.slider-info h4{margin-top:0}
.footer-logo{width:180px;margin-top:-2px}
footer .lag{font-size:12px;width:96px;height:27px;line-height:27px}
.copyright{font-size:12px}
.download .container .col-xs-6{width:100%;padding-right:5px;padding-left:5px}
.news-list .wrapper{padding:15px}
.arrow{width:15px}
.news-list p{width:90%;margin-right:0}
.about-nav{z-index:9999;position:relative;padding-top:0}
.popup-page .popup-title{bottom:auto;margin-top:20px}
.popup-page-about .popup-title{margin-top:10px}
.popup-page .title h5{font-size:14px}
.popup-page .title h2{margin-bottom:1px}
.about-nav a{padding:5px 30px;font-size:13px}
.popup-page .popup-detail .about-detail h2{font-size:18px;margin:15px 0}
.popup-page .popup-detail .about-detail h3{font-size:14px;margin-bottom:10px}
button.close{float:none;width:auto;margin-top:15px}
.about-nav a,.item_content h4,.counter-item,.popup-page .title h5{font-weight:400}
.cd-fixed-bg.cd-bg{background:url(../img/yearbg.jpg);background-size:cover}
.ng-scope-list{width:100%;min-width:auto}
.ng-scope-list .ng-title{font-size:15px;font-weight:400;padding:5px}
.ng-scope-list{padding:10px 10px 5px}
.ng-scope-list li{font-size:14px}
.ng-scope-list li span{font-size:13px}
.detail-page .about-nav a{display:inline-block;width:calc(50% - 4px);margin:0;float:left;margin:2px;padding:5px 0}
.news-list .detail-title{display:none}
.detail-page .about-nav{margin-top:0}
.contact-info{ padding: 0}
.contact-info-head h4, .contact-info-head h4 span{ font-size:16px}
}
@media (max-width: 460px) {
.about-nav a{padding:5px;width:30.5%;text-align:center;display:inline-block}
.contact-info .en20170411-1.contact-info-head h4 span{    display: block;border: none;padding: 0;margin: 3px 0 5px;}
}
@media (max-width: 415px) {
.banner{height:75vh}
.banner .banner-text{width:90%;bottom:20%}
.banner .banner-cover-m{height:60%}
.about .container .row{border:none;margin:20px 15px;padding:0px}
.about-info{padding:0}
.competitiveness{border:none;margin:15px 0 0;padding:25px 25px 20px;background-color:#f7f7f7}
.case svg{display:none}
.slider-box{padding:15px}
.case{padding:20px 0}
.year{padding:40px 0}
.year .counter{font-size:32px}
.item_content h4{margin-bottom:6px}
.service,.contact{padding:30px 20px}
.service .service-item{padding:10px 0}
.service-bg{width:60px}
.service-t, .en .service-t{width:calc(100% - 60px)}
.map-title .title{padding-left:20px;background:rgba(255,255,255,0.4);display:inline-block}
#map, #allmap{height:65vh}
#allmap .anchorBL,#allmap .BMap_cpyCtrl{ display:none!important}
.contact-info .contact-info-item{width:50%;margin-bottom:0;padding-bottom:20px}
.en .contact-info .contact-info-item{height: auto; width: 100%}
.contact-info{padding:0}
.form-group:nth-child(2){padding-left:0}
.form-group:nth-child(1){padding-right:0}
.form-group{padding:0; display: inline-block; width: 100%;}
.has-feedback textarea.form-control{padding:10px}
.contact .btn{width:100%}
.btn-box{padding:0}
.footer-icon{margin-right:8px}
.more{float:right}
.map-title .title{background:rgba(228,228,228,0.7)}
.news-list .container2{padding:0}
.outside { margin-top:0px;}
.en .outside{ margin-top: 0}
.en .service-item h3{ line-height: 1.3;font-weight: bold;color: #ee7624;}
.en .join-us a{ display: block;}
.info-20170413 { display:block; margin:0}
}
@media (max-width: 385px) {
.title{margin-bottom:20px}
.title h2,.slider-box .title h2{font-size:24px}
#item_79,#item_80,#item_81,#item_140{width:49%}
.snip1302{max-height:150px}
.case-item{border-radius:3px}
.service .service-item img{max-height:47px;max-width:47px}
.service-bg{width:47px}
.service-t, .en .service-t{width:calc(100% - 47px);padding-left:15px}
.server-item .col-sm-6{padding:0}
.service .service-item{padding:10px 0 12px}
.map-title .title{background:rgba(228,228,228,0.7)}
.contact-info .contact-info-item{width:100%;height:auto;min-height: auto;padding-bottom:15px;padding-left:0;padding-right:0}
.contact-info .mail{padding-left:0;padding-right:0;margin-top:5px}
.contact-info a{font-size:18px}
.contact-form{padding:0}
footer .col-xs-12{width:100%;text-align:center}
.footer-logo{width:150px;margin:0 auto}
.footer-icon{margin-bottom:20px}
.navtop-m .container{padding-left:0}
.navbar-right li{padding-right:10px;margin-right:10px}
.contact-info .en20170411-1.contact-info-head .info-20170413 { display:block; margin:0}
.outside {
    margin-top: 0px;
}
}