 @charset "utf-8";
/* CSS Document */
/*-----------------------for PC and Mobile both-----------------------*/
#tabsNav {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
}
#tabsNav li:first-child {
	margin: 0;
	z-index: 4;
}
#tabsNav li:nth-child(2) {
	z-index: 3;
}
#tabsNav li:nth-child(3) {
	z-index: 2;
}
#tabsNav li:last-child(3) {
	z-index: 1;
}
/*------------------case detail------------------------*/
.detailImg {
	position: relative;
}
.detailImg h5 {
	width: 100%;
	height: 0;
	padding-bottom:25%;
	background-image: url(../images/caseBG.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	position: absolute;
	bottom: 0;
}

.caseThumb{
	width: 100%;
	height: 0;
	padding-bottom:45%;
}
/*-----------------------for PC-----------------------*/
@media screen and (min-width:801px) {
.imgLeft {
	float: left;
	margin-right: 20px;
	width: 300px;
}
.imgRight {
	float: right;
	margin-left: 20px;
	width: 300px;
}
/*------------------case detail------------------------*/
.detailImg {
	margin-bottom:-70px;
}
.detailImg h1 {
	left:80px;
	bottom:25%;
	position: absolute;
}
.detailText {
	position: relative;
	z-index:10000;
	padding:0 150px 30px 150px;
	font-size:16px;
}
/*--------------tab-----------------*/
#tabsNav li {
	float: left;
	width: 25%;
	margin-left: -15px;
	position: relative;
}
#tabsNav li a {
	display: block;
	text-decoration: none;
	color: #888;
	text-align: center;
	font-size: 17px;
	padding: 10px 30px;
	background-image: url(../images/tab.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	background-color: transparent;
}
#tabsNav li.active a, #tabsNav li a:hover {
	color: #EC681E;
	background-image: url(../images/tabSele.png);
}
/*--------------caseList-------------*/
.caseList li {
	position: relative;
	margin-bottom: 40px;
}
.caseList li:last-child {
	margin-bottom: 0;
}
.caseList li div.caseLeft {
	width: 30%;
	float: left;
}
.caseList li div.caseRight {
	width: 67%;
	position: absolute;
	right: 0;
	bottom: 0;
}
.orangeLine {
	height: 1px;
	line-height: 1px;
	border-bottom: 1px solid #EC681E;
	margin: 20px 0 20px -4%;
}
.caseList li:nth-child(even) div.caseLeft {
	float: right;
}
.caseList li:nth-child(even) div.caseRight {
	left: 0;
}
.caseList li:nth-child(even) .orangeLine {
	margin: 20px -4% 20px 0;
}
/*---------------video-----------------*/
.video {
	width: 100%;
	height: 320px;
}
.forVideo li div.caseLeft {
	width: 45%;
}
.forVideo li div.caseRight {
	width: 52%;
}
}

/*------------------for mobile------------------------*/
@media screen and (max-width:800px) {
.imgLeft, .imgRight {
	margin-bottom: 20px;
	width: 100%;
}

/*--------------tab-----------------*/
#tabsNav li {
	float: left;
	width: 26%;
	margin-left: -8px;
	position: relative;
}
#tabsNav li a {
	display: block;
	text-decoration: none;
	color: #888;
	text-align: center;
	padding: 10px 0;
	background-image: url(../images/tab_m.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	background-color: transparent;
}
#tabsNav li a span {
	display: none;
}
#tabsNav li.active a, #tabsNav li a:hover {
	color: #EC681E;
	background-image: url(../images/tabSele_m.png);
}
/*--------------caseList-------------*/
.caseList li {
	margin: 0 -15px 20px -15px;
	padding: 0 15px 20px 15px;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.caseList li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
	box-shadow: none;
}
.caseList li div.caseLeft {
	margin-bottom: 15px;
}
.orangeLine {
	height: 1px;
	line-height: 1px;
	border-bottom: 1px solid #EC681E;
	margin: 10px 0;
}
/*---------------video-----------------*/
.video {
	width: 100%;
	height: 260px;
}
.detailImg h1 {
	left:20px;
	bottom:8%;
	position: absolute;
}
.detailText {
	padding:20px;
}
}
