@charset "utf-8";
/*-----------------------for both-----------------------*/
input, textarea, body select, html, body, a, p {
	font-family: 'Roboto', '微軟正黑體', 'simhei', sans-serif;
}
/*-----------------------for PC-----------------------*/
@media screen and (min-width:801px) {
/*----------other------------*/
#track a {
	background-image: url(../images/btnTrackCn.png);
}
#money a {
	background-image: url(../images/btnMoneyCn.png);
}
}
/*------------------for mobile------------------------*/
@media screen and (max-width:800px) {
/*-------------progress-------------------*/
}
