<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1;url=/Page/Login.html">

    <script type="text/javascript">
        function ADRedirect() {
            window.location.href = window.location.origin + "/Page/Login.html";
        }
    </script>
    <title>Page Redirection</title>
</head>
<body onload="ADRedirect()">
    <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
    If you are not redirected automatically, follow the <a href="/Page/Login.html">link to manual login</a>
</body>
</html>