<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ErpApp-20150813094550;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-DefenseWeb-20150813094550.mdf" />
  </connectionStrings>
  <appSettings>
    <!--<add key="owin:AutomaticAppStartup" value="false"></add>-->
    <!-- Mail的編碼格式 預設：UTF-8 -->
    <add key="MailEncoding" value="UTF-8" />
    <!-- 發件人名稱 預設：系統郵件 -->
    <add key="FromName" value="系統郵件[請勿回覆]" />
    <!-- 發件人地址 預設：ot.syssender@gmail.com -->
    <!--<add key="FromEmail" value="ethan.chen@origtek.com.cn" />-->
    <add key="FromEmail" value="ot.syssender@gmail.com" />
    <!--<add key="FromEmail" value="Origtek@google.com" />-->
    <!-- 發件人帳號 預設：ot.syssender@gmail.com -->
    <!--<add key="FromUserId" value="ot.syssender@gmail.com" />-->
    <add key="FromUserId" value="ot.syssender@gmail.com" />
    <!--<add key="FromUserId" value="" />-->
    <!-- 發件人密碼 預設：25153819 -->
    <!--<add key="FromPassword" value="654321zzz" />-->
    <add key="FromPassword" value="654321zzz" />
    <!-- 郵件服務器地址 預設：smtp.gmail.com -->
    <!--<add key="Server" value="smtp.gmail.com" />-->
    <add key="Server" value="smtp.gmail.com" />
    <!-- 郵件服務器Port 預設：587 -->
    <!--<add key="ServerPort" value="587" />-->
    <!--<add key="ServerPort" value="587" />-->
    <add key="ServerPort" value="587" />
    <!-- 超時(秒) 預設：60 -->
    <add key="Timeout" value="60" />
    <!-- 是否啟用 SSL 認證。true|false 預設：true -->
    <!--<add key="SSL" value="true" />-->
    <add key="SSL" value="true" />
    <!-- 系統預設加密解密密匙Key -->
    <add key="DefaultCryptionKey" value="OTK7950future" />
    <!-- 系統預設加密解密密匙IV -->
    <add key="DefaultCryptionIV" value="394820" />
    <!-- 登陸後有效時間（分鐘） -->
    <add key="ExpireTime" value="240" />
    <!-- API失效時間（秒） -->
    <add key="UrlExpireTime" value="120" />
    <!-- 系統預設顯示樣式 -->
    <add key="DefaultTheme" value="Common" />
    <!-- 連接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 是否進行外網驗證 -->
    <add key="IsCheckNet" value="true" />
    <!--文字檔轉換助手組織ID-->
    <add key="TransferOrgID" value="TE" />
    <!--文字檔轉換助手帳號ID-->
    <add key="TransferUerID" value="EUROTRAN" />
    <!--卡鐘打卡資料路徑-->
    <add key="AttendancePath" value="D:\EIP\EIP-new\" />
    <!--系統設定上班開始時間key值-->
    <add key="WorkTimePMKey" value="WorkTimePM" />
    <!--系統設定上班結束時間key值-->
    <add key="WorkTimeAMKey" value="WorkTimeAM" />
    <!--系統設定最晚上班時間key值-->
    <add key="LatestShiftTimeKey" value="LatestShiftTime" />
	<!--系統設定遲到緩衝key值-->
    <add key="DelayBufferTimeKey" value="DelayBufferTime" />
    <!-- 連接字符串 -->
    <!--<add key="ConnectionString" value="server=192.168.1.104;database=EURO;uid=ot;pwd=ot20140507" />-->
    <add key="ConnectionString" value="server=localhost\SQLEXPRESS;database=EURO;uid=sa;pwd=123456;Max Pool Size=5120;Min Pool Size=5;connect timeout=20;" />
    <!--<add key="ConnectionString" value="server=ALINA-PC\JOHN;database=EURO_Online;uid=sa;pwd=admin123!@#" />-->
    <!-- DSB類型 -->
    <add key="DbType" value="sqlserver" />
    <!-- 文件產出位置 -->
    <add key="OutFilesPath" value="OutFiles/Temporary/" />
    <!--多語系初始化HTML路徑-->
    <add key="InitLngHTMLPath" value="Page" />
    <!--多語系初始化HTML路徑-->
    <add key="InitLngJSPath" value="Scripts" />
    <!-- WebService地址 -->
    <add key="WebServiceUrl" value="http://localhost:3466/WS/ComWebService.asmx" />
    <add key="ida:AppId" value="8509ba61-9451-4960-94d8-10934d5365cc" />
    <add key="ida:AppPassword" value="qWWKUV056{*{)fuowwgHK31" />
    <add key="ida:RedirectUri" value="http://localhost:3466" />
    <add key="ida:AppScopes" value=" User.Read Mail.ReadWrite Mail.Send Calendars.ReadWrite Contacts.Read Contacts.ReadWrite" />
    <add key="ida:GraphRootUri" value="https://graph.microsoft.com/beta" />
  </appSettings>
  <!--設置json的最大長度-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.6" />
    <!--maxRequestLength(組織為KB) 1024KB=1MB-->
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" maxQueryStringLength="204800" maxRequestLength="102400" executionTimeout="10800" />
    <sessionState mode="InProc" timeout="60" cookieless="false" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxQueryString="2147483648" maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Page/Error.html" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <!--開啟CORS-->
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.13.0.0" newVersion="6.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.13.0.0" newVersion="6.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>