@import url(/Scripts/plugins/bootstrap/css/bootstrap.min.css) print;
@import url(/Scripts/3rd/jGrid/jsgrid.css) print;
@import url(/Scripts/3rd/jGrid/jsgrid-theme.min.css) print;
@import url(/Content/modern.min.css) print;
@import url(/Content/custom.css) print;
@import url(/Content/style2.0.css) print;
@import url(/Content/Page/Eip/cuseip.css) print;

@media print {
    .btn-xs {
        padding: 1px 5px;
    }

    hr {
        height: 1px;
        margin-left: 7px;
        border: none;
        border-top: 1pt dashed #DF5F09;
        background-color: white !important;
    }

    .panel-info {
        padding-bottom: 70px;
    }

    .signeddecision {
        margin: 0 10px 20px 20px;
    }

    .jsgrid {
        font-size: 0.7em;
    }

    fieldset {
        border: 2px groove threedface !important;
        width: 90%;
        padding: 0 0 0px 0px !important;
    }

    .form-horizontal .control-label {
        padding-top: 5px;
        margin-left: 10px !important;
        text-align: right;
    }

    #table_box tr td span {
        font-size: 10pt;
    }

    .col-sm-1 {
        width: 12%;
        float: left;
    }

    .col-sm-2 {
        width: 15%;
        float: left;
    }

    .col-sm-3 {
        width: 24%;
        float: left;
    }

    .col-sm-4 {
        width: 34%;
        float: left;
    }

    .col-sm-8 {
        width: 83%;
        float: left;
    }

    .col-sm-9 {
        width: 70%;
        float: left;
    }

    .jsgrid-header-row, .jsgrid-grid-header {
        height: 50px !important;
    }

    .slimScrollDiv {
        height: auto !important;
        max-height: 600px;
    }

    .jsgrid-cell,.jsgrid-header-cell {
        width: auto !important;
    }
    .eip-title {
        margin: 20px 140px 0 0;
        text-align: center;
        font-size: 18pt;
        font-weight: bold;
        width: 100% !important;
    }

    .eip-note, .void-reason {
        margin: 0 140px 0 0;
        margin: 5px 0 10px 0;
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        width: 100% !important;
    }

    .form-horizontal .form-group {
        width: 100% !important;
    }

    .show-text {
        padding-top: 6px;
        font-size: 11pt;
    }

    .show-label {
        font-size: 11pt;
        font-weight: bold;
    }

    .grid-cuscell .jsgrid-cell {
        border: 0 !important;
        border-bottom: 1px dashed #215DC6 !important;
    }

    .first-cell .jsgrid-cell:first-child {
        border-bottom: 0 !important;
    }

    .last-cell .jsgrid-cell {
        border: 0;
    }

    .up-down-go {
        text-align: right;
        position: relative;
        margin-top: 1px;
        right: 10px;
    }

    .bill-box {
        border: solid 1px #000000;
        width: 100px;
        height: 320px;
        margin-left: 10px;
        overflow-y: auto;
    }

    .bill-list li {
        list-style-type: none;
        width: 98px;
        background-color: #e2b290ab;
        margin-bottom: 1px;
        padding: 2px 5px 2px 5px;
        margin-left: -40px;
    }

        .bill-list li.active {
            list-style-type: none;
            width: 98px;
            background-color: #ff6a00;
            margin-bottom: 1px;
            padding: 2px 5px 2px 5px;
        }

        .bill-list li:hover {
            list-style-type: none;
            background-color: #ff6a00;
            width: 98px;
            margin-bottom: 1px;
            padding: 2px 5px 2px 5px;
            cursor: default;
        }

    .jsgrid-button:focus {
        background-color: #ff0000;
    }
}