<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DbType" value="sqlserver" />
    <add key="connectionString" value="Data Source=121.199.9.217;Initial Catalog=test;User ID=test;Password=test123;Trusted_Connection=no;Min Pool Size=10;Max Pool Size=100;" />

    <add key="DbType" value="mysql" />
    <add key="connectionString" value="Data Source=.;port=3306;User ID=root;Password=123456;DataBase=test;Min Pool Size=10;Max Pool Size=100;" />-->
    <add key="DbType" value="sqlserver" />
    <add key="DbHost" value="192.168.1.105" />
    <add key="DbName" value="EURO" />
    <add key="DbUser" value="sa" />
    <add key="DbPassword" value="admin123!@#" />
    <add key="DbMinPoolSize" value="10" />
    <add key="DbMaxPoolSize" value="100" />
    <!--<add key="DbType" value="mysql" />
    <add key="DbHost" value="chenghong.mysql.rds.aliyuncs.com" />
    <add key="DbName" value="test_db" />
    <add key="DbUser" value="user_test" />
    <add key="DbPassword" value="111111" />
    <add key="DbPort" value="3306" />
    <add key="DbMinPoolSize" value="10" />
    <add key="DbMaxPoolSize" value="100" />-->
    <add key="OrmSugarPath" value="D:\Projects\EURO\03-程式設計階段\Eurotran\Entity\Sugar\" />
    <add key="OrmEasyPath" value="D:\Projects\EURO\03-程式設計階段\Eurotran\Entity\" />
    <add key="ConnectionString" value="server=192.168.1.105;database=EURO;uid=sa;pwd=admin123!@#;Max Pool Size=5120;Min Pool Size=5;connect timeout=20;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>